@use "../../healpers" as *;
/* Section info-tech. text section */
.info-tech {
  &__title {
    margin-block: 0 fluid(40, 20);
    line-height: 1.3;
  }

  &__text {
    color: var(--text-color-dark-secondary);
    line-height: 1.5;

    p:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
}

@include mobile-media {
  .info-tech {
    &__text {
      p:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

/* ======================== */
/*  =====END info-tech====  */
/* ======================== */
