@use "../../healpers" as *;
/* Section error */
.error {
  background-color: var(--color-gray-800);
  color: var(--color-gray-50);
  font-weight: 700;
  padding-block: rem(131) rem(158);

  &__wrapper {
    position: relative;
  }

  &__body,
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__body {
    width: 100%;
    row-gap: fluid(57, 20);
  }

  &__content {
    row-gap: fluid(40, 20);
  }

  &__title {
    font-size: rem(100);
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.03em;
  }

  &__text {
    font-weight: 400;
    line-height: 1.5;
  }

  &__button {
    padding: rem(7) rem(53) rem(10);
    min-height: rem(42);
    align-self: start;
  }

  &__image {
    width: inherit;
    height: inherit;

    &-wrapper {
      width: rem(403);
      height: rem(640);
      flex-shrink: 0;
      position: absolute;
      right: rem(-88);
      top: rem(-90);
    }
  }
}

@include desktop-media {
  .error {
    padding-block: fluid(61, 30);

    &__wrapper {
      display: flex;
      justify-content: space-between;

      gap: rem(20);
    }

    &__subtitle {
      @include fluid-text(34, 24);
    }

    &__image {
      &-wrapper {
        padding-block: rem(50) 0;
        align-self: flex-end;
        position: relative;
        right: unset;
        top: unset;
        right: 0;
      }
    }
  }
}
@include laptop-media {
  .error {
    &__title {
      @include fluid-text(80, 32);
    }
  }
}
@include tablet-media {
  .error {
    &__wrapper {
      max-width: rem(868);
    }

    &__image {
      &-wrapper {
        padding-block: rem(50) 0;
        width: rem(200);
        height: rem(318);
      }
    }
  }
}
@include mobile-media {
  .error {
    text-align: center;
    &__wrapper {
      display: grid;
      grid-template-areas:
        "title title"
        "image image"
        "subtitle subtitle"
        "text text"
        "button button";
    }

    &__body {
      display: contents;
    }

    &__content {
      display: contents;
    }

    &__title {
      grid-area: title;
    }

    &__subtitle {
      grid-area: subtitle;
    }

    &__text {
      grid-area: text;
    }

    &__button {
      grid-area: button;
      justify-self: center;
      width: unset;
    }

    &__image {
      &-wrapper {
        grid-area: image;
        padding-block: unset;
        justify-self: center;
        width: rem(200);
        height: rem(318);
      }
    }
  }
}

@include mobile-medium-media {
  .error {
    &__image {
      &-wrapper {
        width: rem(100);
        height: rem(159);
      }
    }
  }
}
/*  =======================  */
/*  ===END section error===  */
/*  =======================  */
