@use "../../healpers" as *;
/* Section about-service.wheel-alignment page */
.about-service {
  &__body {
    display: flex;
    justify-content: space-between;

    gap: rem(20);
    width: 100%;
    padding-inline: 0 rem(44);
  }

  &__image {
    &-wrapper {
      position: relative;
      flex-shrink: 0;
      width: rem(618);
      height: rem(495);
    }

    width: inherit;
    height: inherit;
  }

  &__content {
    @include flex-center;

    flex-direction: column;

    row-gap: fluid(40, 20);
    max-width: rem(530);
  }

  &__heading {
    line-height: 1.2;
  }

  &__text {
    line-height: 1.47;
    color: var(--text-color-dark-secondary);
  }
}
@include desktop-media {
  .about-service {
    &__body {
      justify-content: start;
      padding-inline: 0;
    }
  }
}
@include laptop-media {
  .about-service {
    &__image {
      &-wrapper {
        align-self: center;
      }
    }

    &__body {
      flex-direction: column;
      align-items: start;
      padding-inline: unset;
    }

    &__content {
      max-width: unset;
      align-self: center;
    }

    &__heading {
      text-align: center;
    }
  }
}
@include mobile-media {
  .about-service {
    padding-block: 0 rem(20);

    &__image {
      &-wrapper {
        width: rem(340);
        height: rem(311);

        &--material {
          height: rem(204);
        }
      }
    }

    &__body {
      gap: rem(20);
    }

    &__content {
      padding-block: rem(20) 0;
    }

    &__heading,
    &__text {
      line-height: 1.5;
    }
  }
}
@include mobile-medium-media {
  .about-service {
    &__heading {
      text-align: start;
    }
  }
}
/*  ==========================  */
/*  =====END about-service====  */
/*  ==========================  */
