@use "../../healpers" as *;
/* Block about-service-list. part of section about-service */
.about-service-list {
  max-width: rem(466);

  &__item {
    display: flex;
    align-items: center;
    gap: rem(24);
    padding: rem(20);

    &:not(:last-child) {
      margin-bottom: rem(20);

      .about-service-list__icon-wrapper {
        &::after {
          content: "";
          position: absolute;
          top: calc(100% + rem(10));
          left: 50%;
          width: rem(1);
          height: rem(40);
          background-color: var(--color-orange);
        }

        &--tall-decor {
          &::after {
            height: rem(80);
          }
        }

        &--position-decor {
          &::after {
            top: calc(100% + rem(20));
          }
        }

        &--position-decor-220 {
          &::after {
            top: 220%;
          }
        }
      }
    }
  }

  &__icon {
    &-wrapper {
      @include square(rem(32));

      flex-shrink: 0;
      position: relative;
    }
  }

  &__heading {
    font-size: rem(15);
    line-height: 1.1;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    font-size: rem(16);
    line-height: 1.4;
  }
}
@include laptop-media {
  .about-service-list {
    max-width: unset;
  }
}
@include mobile-media {
  .about-service-list {
    &__item {
      &--small-margin-mobile {
        &:not(:last-child) {
          margin-bottom: rem(12.5);
        }
      }

      &--small-padding-mobile {
        padding: rem(10);
      }

      &--small-gap-mobile {
        gap: rem(10);
      }
    }

    &__heading {
      &--small-text-mobile {
        font-size: rem(12);
        line-height: 1.56;
      }

      &--small-margin-mobile {
        &:not(:last-child) {
          margin-bottom: rem(4);
        }
      }
    }
    &__text {
      &--small-text-mobile {
        font-size: rem(15);
        line-height: 1.43;
      }
    }
  }
}
