@use "../../healpers" as *;
/* Styles for section about-gallery.*/
.about-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    max-width: rem(832);
    font-size: rem(18);
    text-align: start;
  }

  &__list {
    @include flex-center;

    gap: rem(24);
    max-width: rem(1203);
    margin-inline: auto;
    margin-bottom: rem(50);

    &-item {
      flex-shrink: 0;
    }
  }

  &__image {
    &-wrapper {
      width: rem(376);
      height: rem(301);

      &--big-width {
        width: rem(406);
      }
    }

    width: inherit;
    height: inherit;
  }

  &__button {
    font-size: rem(16);
  }
}

@include desktop-media {
  .about-gallery {
    &__list {
      flex-wrap: wrap;
    }
  }
}
@include tablet-media {
  .about-gallery {
    &__list {
      justify-content: center;
    }
  }
}
@include mobile-media {
  .about-gallery {
    gap: rem(50);

    &__title {
      margin-bottom: 0;
    }

    &__subtitle {
      margin-bottom: 0;
    }

    &__list {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__image {
      &-wrapper {
        height: rem(272);

        &--small-height {
          height: rem(252);
        }
      }
    }
  }
}
/*  ==================================  */
/*  =====END section about-gallery====  */
/*  ==================================  */
