@use "../../healpers" as *;
@use "about-service-list";
/* Section about-service.tire-pms page only */
.about-service {
  &__body {
    display: flex;
    justify-content: space-between;

    gap: fluid(24, 10);
    width: 100%;
    padding-inline: 0 rem(110);
  }

  &__image {
    &-wrapper {
      position: relative;
      width: rem(618);
      height: rem(260);
      flex-shrink: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: var(--border-radius-small);
        background: var(--color-red-opcity-15);
      }
    }

    border-radius: var(--border-radius-small);
    width: inherit;
    height: inherit;
  }

  &__content {
    max-width: rem(530);
  }
}
@include desktop-media {
  .about-service {
    &__body {
      justify-content: start;
      padding-inline: 0;
    }
  }
}
@include laptop-media {
  .about-service {
    &__image {
      &-wrapper {
        align-self: center;
      }
    }

    &__body {
      flex-direction: column;
      align-items: start;
      padding-inline: unset;
    }

    &__content {
      max-width: unset;
      align-self: center;
    }

    &__list {
      max-width: rem(500);
      margin-inline: auto;
    }
  }
}
@include mobile-media {
  .about-service {
    padding-block: rem(10) rem(50);

    &__image {
      &-wrapper {
        width: rem(340);
        height: rem(356);
      }
    }

    &__list {
      max-width: unset;
      padding-right: rem(10);
    }
  }
}
/*  ==========================  */
/*  =====END about-service====  */
/*  ==========================  */
