@use "../../healpers" as *;
/* Section about-loyalty. loyalty page  */
.about-loyalty {
  --loyaltyCardColorBg: var(--color-gray-25);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(24, 10);
  }

  &__card {
    background-color: var(--loyaltyCardColorBg);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: fluid(20, 10);
    border: var(--border-light);
    border-radius: var(--border-radius-small);
    padding: rem(20) rem(20) rem(35);

    &-image {
      @include square(rem(60));

      flex-shrink: 0;

      &--attantion {
        width: rem(26);
        height: rem(23);
      }
    }

    &-name {
      text-align: center;
      letter-spacing: var(--letter-spacing);
      min-height: rem(58);
      line-height: 1.3;
    }

    &-text {
      line-height: 1.47;
      color: var(--text-color-dark-secondary);
    }

    &--long {
      padding: rem(10) rem(10) rem(10) rem(14);
      flex-direction: row;
      grid-column: 1 / 4;
      text-align: start;
      gap: fluid(28, 14);

      P:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }
}

@include tablet-media {
  .about-loyalty {
    &__list {
      grid-template-columns: 1fr 1fr;

      & > li:nth-child(3) {
        grid-column: 1/3;
        justify-self: center;

        h3 {
          min-height: unset;
        }
      }
    }

    &__card {
      &:not(:last-child) {
        max-width: rem(470);
        padding: fluid(20, 10);
      }

      &-name {
        &:nth-child(3) {
          min-height: unset;
        }
      }

      &--long {
        grid-column: 1/3;
      }
    }
  }
}

@include mobile-medium-media {
  .about-loyalty {
    &__list {
      grid-template-columns: 1fr;

      & > li:nth-child(3) {
        grid-column: 1/2;
      }
    }
    &__card {
      padding: rem(10);

      &:not(:last-child) {
        max-width: 100%;
      }

      &-name {
        min-height: unset;
      }

      &--long {
        flex-direction: column;
        grid-column: 1/2;
      }
    }
  }
}
/*  ===========================  */
/*  =====END about-loyalty=====  */
/*  ===========================  */
