@use "../../healpers" as *;
@use "about-service-list";
/* Section about-service.tire-stydding page only */
.about-service {
  &__body {
    display: flex;
    justify-content: space-between;

    gap: fluid(24, 10);
    width: 100%;
    padding-inline: 0 rem(44);
  }

  &__image {
    &-wrapper {
      width: rem(618);
      height: rem(476);
      flex-shrink: 0;
    }

    border-radius: var(--border-radius-small);
    width: inherit;
    height: inherit;
  }

  &__content {
    max-width: rem(530);
    padding-block: 0 rem(50);
  }

  &__list {
    margin-bottom: rem(20);
  }

  &__text {
    line-height: 1.5;

    &--colot-light {
      color: var(--text-color-dark-secondary);
    }
  }
}
@include laptop-media {
  .about-service {
    &__image {
      &-wrapper {
        align-self: center;
      }
    }
    &__body {
      flex-direction: column;
      align-items: start;
      padding-inline: unset;
    }

    &__content {
      max-width: unset;
      align-self: center;
    }

    &__list {
      max-width: rem(500);
      margin-inline: auto;
    }
  }
}

@include mobile-media {
  .about-service {
    &__image {
      &-wrapper {
        width: rem(360);
        height: rem(257);
      }
    }

    &__list {
      max-width: unset;
    }
  }
}

/*  ==========================  */
/*  =====END about-service====  */
/*  ==========================  */
