@use "../../healpers" as *;
@use "social-proof-slider";
/* Section soc1al-proof. Source -- tire-fitting page. */
.soc1al-proof {
  min-height: rem(1069);

  background-image: url(../../../images/social-proof/social-proof-bg.webp);
  background-image: image-set(
    "../../../images/social-proof/social-proof-bg.webp" 1x,
    "../../../images/social-proof/social-proof-bg@2x.webp" 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-block: fluid(80, 40) fluid(78, 30);
  margin-bottom: var(--section-margin-y-big);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid(50, 40);
    max-width: calc(rem(832) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    color: var(--text-color-light);
    margin-block: 0 fluid(47, 31);
  }

  &__title {
    text-align: center;
  }

  &__text {
    font-size: rem(18);
    line-height: 1.5;

    &--advantage {
      max-width: rem(310);
    }
  }

  &__advantages {
    @include flex-space-between;

    gap: rem(40);
    max-width: rem(788);
    width: 100%;
    margin-inline: auto;
    margin-block: 0 fluid(20, 10);

    ul {
      padding-left: rem(25);
      margin-block: 0;
    }
  }

  &__advantage {
    max-width: rem(360);
    width: 100%;
    padding-block: fluid(50, 10) fluid(31, 0);

    &-name {
      font-size: rem(20);
      line-height: 1.2;
      text-transform: uppercase;
      margin-block: 0 fluid(40, 19);
    }
  }

  /* ==== */
  &__rating {
    @include flex-space-between;

    column-gap: rem(24);
    max-width: calc(rem(1224) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    min-height: rem(128);
  }
}
@include mobile-medium-media {
  .soc1al-proof {
    &__advantages {
      flex-direction: column;
    }

    &__advantage {
      &-name {
        line-height: 1.4;
      }
    }
  }
}
/*  ================================  */
/*  ====END section soc1al-proof====  */
/*  ================================  */
