@use "../../healpers" as *;

/* Section succ-submit. modal block(dialog)  */
.succ-submit {
  &:modal {
    transition-duration: 1s !important;
    background-color: var(--color-gray-800);
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: show-modal;
    animation-duration: var(--transition-duration);
  }

  &__close-button {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: default;

    &-wrapper {
      position: relative;
      z-index: 1;
      width: 100vw;
      height: 100vh;
    }
  }

  &__inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__content {
    @include flex-space-between;

    position: relative;
    z-index: 2;
    gap: fluid(24, 10);
    color: var(--color-gray-50);
    padding: fluid(20, 10);
  }

  &__title {
    line-height: 1.3;
    margin-bottom: fluid(40, 20);
  }

  &__text {
    line-height: 1.5;
    margin-bottom: fluid(40, 20);
  }

  &__button {
    padding: rem(7) rem(53) rem(10);
    min-height: rem(42);
  }

  &__image {
    @include square(rem(450));
  }
}

@include laptop-media {
  .succ-submit {
    &__image {
      @include square(rem(370));
    }
  }
}
@include tablet-media {
  .succ-submit {
    &__content {
      flex-direction: column-reverse;
      text-align: center;
    }
  }
}
@include mobile-media {
  .succ-submit {
    &__image {
      @include square(rem(300));
    }
  }
}
@include mobile-medium-media {
  .succ-submit {
    &__button {
      width: unset;
    }
  }
}

/*  =========================  */
/*  =====END succ-submit=====  */
/*  =========================  */
