@use "../../healpers" as *;
/* Section check-discount. section with form for checking the loyalty card  */
.check-discount {
  max-width: calc(rem(688) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  text-align: center;

  padding-inline: fluid(20, 10);
  padding-block: fluid(50, 20);
  border: var(--border-light);
  border-radius: var(--border-radius-small);

  &__title {
    line-height: 1.2;
    color: var(--color-dark);
    margin-block: 0 fluid(19, 10);
  }

  &__subtitle {
    line-height: 1.4;
    color: var(--color-gray-700);
    font-size: rem(16);
    max-width: rem(590);
    margin-block: 0 fluid(19, 10);
    margin-inline: auto;
  }

  &__form {
    max-width: rem(548);
    margin-inline: auto;
  }

  &__field {
    margin-block: 0 fluid(20, 10);
    min-height: rem(55);
    padding-block: 0 rem(7);
    width: 100%;

    &-input {
      width: inherit;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: var(--border-light);
      padding-block: rem(12);
      text-align: center;
      color: var(--text-color-dark-secondary);
      font-weight: 700;
      padding-inline: rem(10);
      -moz-appearance: textfield;
      appearance: textfield;
      transition-duration: var(--transition-duration);

      &::placeholder {
        @include fluid-text(18, 16);

        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.3;
        color: var(--text-color-dark-secondary);
      }

      &:focus {
        border-color: var(--color-dark);
      }
    }

    &-input::-webkit-inner-spin-button,
    &-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__button {
    padding-inline: rem(54.5);
    min-height: rem(42);
  }
}

@include mobile-media {
  .check-discount {
    margin-inline: rem(10);

    &__form {
      max-width: rem(400);
    }

    &__field {
      &-input {
        padding-block: rem(9);
      }
    }
  }
}

/*  ===========================  */
/*  =====END check-discount====  */
/*  ===========================  */
