@use "../../healpers" as *;
@use "../../blocks/smart-choice/_smart-choice.scss";

/* Section move-up. Styles for block in the page decoking-engine. Double section with special background and slider */
.move-up {
  --moveUpBgColorDark: var(--color-gray-800);
  --moveUpBgColorLight: #93b4e3;
  --moveUpMainImageWidth: #{rem(1920)};
  --moveUpMainImageHeight: #{rem(739)};

  background-color: var(--moveUpBgColorDark);
  position: relative;
  margin-bottom: fluid(80, 19);

  &__title {
    position: relative;
    z-index: 1;
    text-align: center;
    letter-spacing: var(--letter-spacing-medium);
    line-height: 1.2;
    padding-block: rem(99.5) 0;
    margin-bottom: rem(76.5);
  }

  &__background {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 0;
    width: 100%;
    height: var(--moveUpMainImageHeight);

    &::after {
      @include abs-x;

      content: "";
      top: rem(399);
      z-index: -1;
      width: rem(2192);
      height: rem(810);
      background-image: url("data:image/svg+xml,%3Csvg width='2192' height='810' viewBox='0 0 2192 810' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2191.17 178.201C2191.17 121.249 2145.02 75.081 2088.08 75.081C2054.3 75.081 2024.32 91.3308 2005.51 116.441C1997.39 67.6003 1954.96 30.3637 1903.83 30.3637C1846.89 30.3637 1800.74 76.5324 1800.74 133.484C1800.74 157.658 1809.06 179.886 1822.98 197.468C1809.06 215.05 1800.74 237.279 1800.74 261.453C1800.74 262.767 1800.77 264.074 1800.82 265.375C1786.14 257.333 1769.29 252.757 1751.37 252.757C1699.85 252.757 1657.15 290.564 1649.5 339.955C1636.54 331.074 1620.85 325.876 1603.95 325.876C1601.76 325.876 1599.59 325.967 1597.44 326.138C1582.21 288.224 1545.11 261.452 1501.75 261.452C1476.48 261.452 1453.34 270.554 1435.41 285.651C1422.47 265.846 1400.11 252.756 1374.69 252.756C1334.66 252.756 1302.21 285.216 1302.21 325.257C1302.21 327.386 1302.31 329.493 1302.49 331.576C1293.77 328.357 1284.35 326.597 1274.52 326.597C1253.3 326.597 1233.99 334.795 1219.59 348.194C1212.02 311.462 1179.5 283.844 1140.54 283.844C1095.97 283.844 1059.83 319.987 1059.83 364.572C1059.83 383.773 1066.54 401.405 1077.73 415.262C1042.84 421.421 1014 445.131 1000.66 476.951C985.427 464.603 966.021 457.2 944.885 457.2C933.457 457.2 922.535 459.364 912.504 463.302C912.562 461.878 912.6 460.449 912.6 459.012C912.6 406.277 873.024 362.794 821.961 356.642C829.28 342.479 833.417 326.403 833.417 309.36C833.417 252.408 787.26 206.24 730.323 206.24C685.831 206.24 647.922 234.432 633.476 273.932C619.068 262.253 600.716 255.252 580.727 255.252C546.527 255.252 517.115 275.736 504.071 305.105C494.987 283.694 477.73 266.595 456.217 257.714C457.634 250.899 458.383 243.839 458.383 236.604C458.383 179.652 412.226 133.484 355.289 133.484C323.014 133.484 294.207 148.323 275.304 171.549C262.591 146.257 236.417 128.901 206.187 128.901C205.091 128.901 204.002 128.93 202.919 128.975C205.051 120.712 206.187 112.049 206.187 103.12C206.187 46.1681 160.03 0 103.093 0C46.1568 0 0 46.1688 0 103.12C0 125.536 7.15404 146.278 19.2971 163.194L47.1272 809.23L2115.27 790.937V445.232V277.688C2159.01 265.753 2191.17 225.737 2191.17 178.201Z' fill='%23352F2E'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__main-image {
    height: inherit;
    width: inherit;

    &-wrapper {
      @include abs-x;

      top: rem(-1);
      z-index: -1;
      height: inherit;
      width: var(--moveUpMainImageWidth);
    }
  }

  &__list {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    row-gap: rem(10);

    margin-bottom: rem(175.5);
    padding-inline: rem(120) var(--container-padding-x);

    li:nth-child(even) {
      margin-left: rem(70);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(10);
    max-width: rem(440);
    width: 100%;
    border-radius: rem(40);
    padding: rem(10);
    font-weight: 600;
    line-height: 1.2;
    background-color: var(--color-white-opacity-35);

    &-icon {
      @include square(rem(60));

      flex-shrink: 0;
    }
  }

  &__smart-choice {
    position: relative;
    z-index: 2;
  }
}

@include laptop-media {
  .move-up {
    &__main-image {
      &-wrapper {
        left: 40%;
      }
    }

    &__list {
      padding-inline: rem(40) var(--container-padding-x);
      margin-left: auto;
    }
  }
}
@include tablet-media {
  .move-up {
    &__main-image {
      &-wrapper {
        left: 28%;
      }
    }

    &__list {
      margin-bottom: rem(250);
    }

    &__item {
      max-width: rem(263);
      padding: rem(4);
      font-size: rem(16);
      column-gap: rem(4);
      line-height: 1.4;

      &-icon {
        @include square(rem(48));
      }
    }
  }
}
@include mobile-media {
  .move-up {
    --moveUpMainImageWidth: #{rem(767)};
    --moveUpMainImageHeight: #{rem(449)};
    --moveUpTopBlockHeight: #{rem(812)};

    &__title {
      line-height: 1.3;
      padding-block: rem(42.5) 0;
      margin-bottom: rem(347);
    }

    &__background {
      height: var(--moveUpTopBlockHeight);
      background-color: var(--moveUpBgColorLight);

      &::after {
        top: unset;
        bottom: rem(-132);
        left: rem(-70);
        translate: unset;
        width: rem(941);
        height: rem(348);
        background-image: url("data:image/svg+xml,%3Csvg width='941' height='348' viewBox='0 0 941 348' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M940.686 76.5029C940.686 52.0531 920.87 32.2328 896.427 32.2328C881.926 32.2328 869.054 39.209 860.981 49.9887C857.495 29.0213 839.279 13.0353 817.328 13.0353C792.884 13.0353 773.069 32.8559 773.069 57.3055C773.069 67.6835 776.64 77.2265 782.619 84.7745C776.641 92.3226 773.069 101.866 773.069 112.244C773.069 112.808 773.083 113.369 773.104 113.928C766.801 110.475 759.568 108.51 751.875 108.51C729.756 108.51 711.427 124.741 708.142 145.945C702.576 142.133 695.844 139.901 688.589 139.901C687.647 139.901 686.715 139.94 685.793 140.013C679.252 123.736 663.325 112.243 644.713 112.243C633.863 112.243 623.928 116.151 616.23 122.632C610.675 114.13 601.076 108.51 590.164 108.51C572.979 108.51 559.047 122.445 559.047 139.635C559.047 140.549 559.089 141.454 559.166 142.348C555.426 140.966 551.382 140.21 547.162 140.21C538.05 140.21 529.762 143.73 523.577 149.482C520.328 133.713 506.37 121.856 489.642 121.856C470.507 121.856 454.994 137.373 454.994 156.513C454.994 164.757 457.873 172.326 462.677 178.275C447.698 180.919 435.319 191.098 429.591 204.758C423.05 199.457 414.72 196.279 405.645 196.279C400.74 196.279 396.051 197.208 391.744 198.899C391.769 198.288 391.785 197.674 391.785 197.057C391.785 174.417 374.795 155.75 352.873 153.109C356.015 147.029 357.792 140.127 357.792 132.81C357.792 108.361 337.976 88.5403 313.533 88.5403C294.432 88.5403 278.158 100.643 271.955 117.601C265.77 112.587 257.892 109.581 249.31 109.581C234.628 109.581 222.001 118.375 216.401 130.984C212.501 121.792 205.093 114.451 195.857 110.639C196.466 107.713 196.787 104.682 196.787 101.576C196.787 77.1258 176.971 57.3055 152.528 57.3055C138.672 57.3055 126.305 63.6762 118.19 73.647C112.732 62.7892 101.495 55.3382 88.5174 55.3382C88.0471 55.3382 87.5796 55.3504 87.1144 55.3698C88.03 51.8226 88.5174 48.1034 88.5174 44.2701C88.5174 19.8203 68.7019 0 44.2587 0C19.8154 0 0 19.8206 0 44.2701C0 53.8933 3.07128 62.798 8.2844 70.0605L20.232 347.408L908.102 339.555V191.141V119.213C926.88 114.09 940.686 96.9104 940.686 76.5029Z' fill='%23352F2E'/%3E%3C/svg%3E");
      }
    }

    &__main-image {
      width: var(--moveUpMainImageWidth);
      height: var(--moveUpMainImageHeight);

      &-wrapper {
        height: var(--moveUpTopBlockHeight);
        left: unset;
        right: 0;
        translate: 0;
      }
    }

    &__list {
      padding-left: fluid(300, 20);
      margin-bottom: rem(177);
      row-gap: rem(6);
    }
  }
}
@include mobile-medium-media {
  .move-up {
    &__list {
      align-items: start;
      padding-inline: var(--container-padding-x);
    }
  }
}
