@use "../../healpers" as *;
@use "../сommon-blocks/auth-portal";
@use "../сommon-blocks/attention-info";
@use "service-cost-card-detailed";
/* Section cost-service for car-wash page */
.cost-service {
  &__banner {
    margin-bottom: fluid(24, 10);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: rem(24);
    margin-bottom: fluid(50, 20);
  }

  &__buttons {
    @include flex-center;

    gap: fluid(20, 10);
    margin-bottom: fluid(50, 20);
  }

  &__button {
    font-size: rem(16);
  }
}

@include mobile-media {
  .cost-service {
    &__list {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}
@include mobile-medium-media {
  .cost-service {
    &__buttons {
      flex-direction: column;
      padding-inline: rem(30);
    }
  }
}
/*  =========================  */
/*  =====END cost-service====  */
/*  =========================  */
