@use "../../healpers" as *;
@use "../../blocks/—Åommon-blocks/_timer-counter.scss";
@use "prices-svc";

/* Section cost-service. Styles for page decoking-engine */
.cost-service {
  padding-block: fluid(133.5, 50) fluid(133.5, 19);
  margin-bottom: fluid(80, 20);
  background-color: var(--color-gray-800);

  &__title {
    @include fluid-text(48, 30);

    color: var(--text-color-light);
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(50);
  }

  &__timer-counter {
    color: var(--text-color-light);
    margin-bottom: rem(50);
  }

  &__prices {
    margin-bottom: rem(50);
  }

  &__buttons {
    @include flex-center;

    gap: fluid(20, 10);
    margin-bottom: rem(50);
  }

  &__button {
    font-size: rem(16);
    padding: rem(8.5) rem(20) rem(10);
  }

  &__location {
    @include flex-center;

    gap: rem(20);
    padding-inline: var(--container-padding-x);

    &-icon {
      @include square(rem(60));

      flex-shrink: 0;
    }

    &-text {
      max-width: rem(558);
      color: var(--text-color-light);
      font-size: rem(16);
      line-height: 1.5;
      letter-spacing: var(--letter-spacing);

      p:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@include tablet-media {
  .cost-service {
    &__title {
      margin-bottom: rem(53);
    }
  }
}
@include mobile-medium-media {
  .cost-service {
    &__buttons {
      flex-direction: column;
      padding-inline: rem(10);
    }

    &__button {
      max-width: rem(400);
      width: 100%;
    }

    &__location {
      &-text {
        font-size: rem(15);
        line-height: 1.4;
        letter-spacing: var(--letter-spacing-big);
      }
    }
  }
}
/*  ===============================================  */
/*  =====END cost-service(decoking-engine page)====  */
/*  ===============================================  */
