@use "../../healpers" as *;
/* Block-card for advantage slider( advantages__slider--h-engine ).Part of Section advantages. */
.h-engine-advantage-card {
  --advantageCardTitleTextColor: var(--color-gray-850);
  --ourAdvantageCardBgColor: var(--color-accent-200);

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(20);
  max-width: rem(297);
  width: 100%;
  padding: rem(14) rem(20) rem(45);
  border: var(--border-light);
  border-radius: var(--border-radius-small);
  background-color: var(--ourAdvantageCardBgColor);

  &__icon {
    @include square(rem(69));
  }

  &__heading {
    font-weight: 700;
    font-size: rem(18);
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: var(--advantageCardTitleTextColor);
    min-height: rem(49);
  }

  &__text {
    font-size: rem(16);
    color: var(--color-gray-750);
    line-height: 1.4;
  }
}

@include mobile-media {
  .h-engine-advantage-card {
    padding: rem(16) rem(20) rem(20);
    row-gap: unset;

    &__icon {
      margin-bottom: rem(19);
    }

    &__heading {
      font-size: rem(15);
      line-height: 1.2;
      min-height: unset;
      margin-bottom: rem(20);
    }

    &__text {
      font-size: rem(15);
    }
  }
}
