@use "../../healpers" as *;
@use "footer-svc-links";
/* Block footer . For all pages.*/
.footer {
  background-color: var(--color-gray-800);
  color: var(--color-white-opacity-35);

  &__inner {
    padding-block: fluid(25, 15) fluid(62, 22);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, auto);
    row-gap: rem(49);
    column-gap: rem(74);
  }

  &__heading {
    max-width: rem(350);
    width: 100%;

    &-text {
      font-size: rem(13);
      line-height: 1.4;
    }
  }

  &__logo {
    width: rem(331);
    height: rem(78);
    margin-bottom: rem(16);
    margin-left: rem(-10);
  }

  &__buttons {
    @include flex-space-between;

    column-gap: rem(22);
    align-self: flex-end;
    max-width: rem(832);
  }

  &__qs-line {
    grid-area: qs;
    max-width: rem(404);
    width: 100%;

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-block: fluid(17, 0);
      padding-inline: rem(40);
      border: var(--border-light);
      border-radius: var(--border-radius-small);
      color: var(--color-green-light);
      font-size: rem(20);
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: var(--letter-spacing);
      text-align: center;
      text-transform: uppercase;
    }

    &-phone {
      white-space: nowrap;
    }

    &-text {
      font-size: rem(15);
      line-height: 1.3;
      max-width: rem(235);
    }
  }

  &__yandex-button {
    grid-area: yandex;
    justify-self: center;
    width: fluid(72, 54);
    height: fluid(92, 69);
    margin-top: rem(-9);
  }

  &__button {
    grid-area: button;
    font-size: rem(16);
  }

  &__svc-links {
    max-width: rem(832);
  }

  &__links {
    align-self: end;
    color: var(--color-light);
    font-size: rem(16);
    line-height: 1.25;

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(31) rem(30);
      letter-spacing: var(--letter-spacing);
    }
  }

  &__copyright {
    line-height: 1.16667;
    font-size: rem(12);
  }

  ul {
    list-style: none;
    margin-block: 0;
    padding: 0;
  }

  a {
    transition-duration: var(--transition-duration) !important;
  }
}

@include laptop-media {
  .footer {
    &__inner {
      grid-template-rows: repeat(3, auto);
      row-gap: rem(20);
    }

    &__buttons {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: minmax(rem(92), auto) auto;
      grid-template-areas:
        "yandex qs"
        "button button";
      row-gap: rem(36);
    }

    &__button {
      justify-self: center;
    }

    &__links {
      align-self: center;
    }
  }
}
@include tablet-media {
  .footer {
    .container {
      --container-padding-x: #{rem(30)};
    }

    &__inner {
      padding-block: rem(25) rem(63);
      grid-template-areas:
        "heading buttons"
        "links-list links-list"
        "svc svc"
        "copyright copyright";
      column-gap: rem(34);
      row-gap: 0;
    }

    &__heading {
      grid-area: heading;
      justify-self: center;
      text-align: center;
      margin-left: rem(-5);

      &-text {
        font-size: rem(12);
      }
    }

    &__links {
      grid-area: links-list;
      margin-bottom: rem(22);

      &-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: rem(20) rem(24);
      }
    }

    &__svc-links {
      grid-area: svc;
      max-width: unset;
      margin-bottom: rem(43);
    }

    &__buttons {
      grid-area: buttons;
      margin-inline: auto;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      max-width: unset;
      width: 100%;
      grid-template-areas:
        "yandex button"
        ". qs";
      row-gap: rem(16);
      margin-bottom: rem(36);
    }

    &__button {
      align-self: start;
    }

    &__yandex-button {
      width: rem(54);
      height: rem(69);
      align-self: start;
    }

    &__copyright {
      grid-area: copyright;
    }
  }
}
@include mobile-media {
  .footer {
    .container {
      --container-padding-x: #{rem(16)};
    }

    &__inner {
      padding-block: rem(11) rem(22);

      grid-template-columns: 1fr;
      grid-template-areas:
        "heading"
        "buttons"
        "links-list"
        "svc"
        "copyright";
      row-gap: 0;
    }

    &__heading {
      max-width: unset;
      width: 100%;
      margin-bottom: rem(16);
      margin-left: unset;
    }

    &__logo {
      margin-bottom: rem(18);
      margin-left: unset;
    }

    &__buttons {
      grid-template-rows: 1fr minmax(rem(92), auto);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "button button"
        "yandex qs";
      column-gap: rem(27);
      row-gap: rem(37);
      margin-bottom: rem(21);
    }

    &__qs-line {
      min-width: rem(239);
    }

    &__yandex-button {
      align-self: start;
      margin-top: rem(7);
    }

    &__links {
      margin-bottom: rem(28);

      &-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: rem(20) rem(32);
      }
    }
  }
}

@include mobile-s-media {
  .footer {
    &__yandex-button {
      margin-top: rem(7);
    }
  }
}
/*  ===================================  */
/*  =============END footer============  */
/*  ===================================  */
