/* Navigation footer section. part of footer */
.footer-svc-links__heading {
  font-size: 1rem;
  line-height: 2.625rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
  text-align: center;
  color: var(--color-light);
  border-bottom: var(--border-light);
  width: 100%;
  margin-bottom: 2.25rem;
}
.footer-svc-links__nemu {
  font-weight: 600;
  font-size: 0.875rem;
}
.footer-svc-links__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 11.875rem));
  gap: 1.5rem;
}
.footer-svc-links__item:not(:last-child) {
  margin-bottom: 0.875rem;
}
.footer-svc-links__link {
  line-height: 1.44;
}

@media (width <= 81.31125rem) {
  .footer-svc-links__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.75rem 1.5rem;
  }
}
@media (width <= 63.99875rem) {
  .footer-svc-links__list {
    gap: 1.5625rem 1.5rem;
  }
  .footer-svc-links__list li:nth-child(3n) {
    order: 2;
  }
  .footer-svc-links__item:not(:last-child) {
    margin-bottom: 1.4375rem;
  }
}
@media (width <= 30.06125rem) {
  .footer-svc-links__list {
    grid-template-columns: 1fr;
    gap: 0.875rem 1.5rem;
  }
  .footer-svc-links__list li:nth-child(3n) {
    order: 0;
  }
  .footer-svc-links__item:not(:last-child) {
    margin-bottom: 0.85625rem;
  }
}
/* Block footer . For all pages.*/
.footer {
  background-color: var(--color-gray-800);
  color: var(--color-white-opacity-35);
}
.footer__inner {
  padding-block: clamp(0.9375rem, 0.6468023256rem + 1.1627906977vw, 1.5625rem) clamp(1.375rem, 0.2122093023rem + 4.6511627907vw, 3.875rem);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 3.0625rem;
  column-gap: 4.625rem;
}
.footer__heading {
  max-width: 21.875rem;
  width: 100%;
}
.footer__heading-text {
  font-size: 0.8125rem;
  line-height: 1.4;
}
.footer__logo {
  width: 20.6875rem;
  height: 4.875rem;
  margin-bottom: 1rem;
  margin-left: -0.625rem;
}
.footer__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.375rem;
  align-self: flex-end;
  max-width: 52rem;
}
.footer__qs-line {
  grid-area: qs;
  max-width: 25.25rem;
  width: 100%;
}
.footer__qs-line-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-block: clamp(0rem, -0.4941860465rem + 1.976744186vw, 1.0625rem);
  padding-inline: 2.5rem;
  border: var(--border-light);
  border-radius: var(--border-radius-small);
  color: var(--color-green-light);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  text-transform: uppercase;
}
.footer__qs-line-phone {
  white-space: nowrap;
}
.footer__qs-line-text {
  font-size: 0.9375rem;
  line-height: 1.3;
  max-width: 14.6875rem;
}
.footer__yandex-button {
  grid-area: yandex;
  justify-self: center;
  width: clamp(3.375rem, 2.851744186rem + 2.0930232558vw, 4.5rem);
  height: clamp(4.3125rem, 3.6438953488rem + 2.6744186047vw, 5.75rem);
  margin-top: -0.5625rem;
}
.footer__button {
  grid-area: button;
  font-size: 1rem;
}
.footer__svc-links {
  max-width: 52rem;
}
.footer__links {
  align-self: end;
  color: var(--color-light);
  font-size: 1rem;
  line-height: 1.25;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 1.9375rem 1.875rem;
  letter-spacing: var(--letter-spacing);
}
.footer__copyright {
  line-height: 1.16667;
  font-size: 0.75rem;
}
.footer ul {
  list-style: none;
  margin-block: 0;
  padding: 0;
}
.footer a {
  transition-duration: var(--transition-duration) !important;
}

@media (width <= 81.31125rem) {
  .footer__inner {
    grid-template-rows: repeat(3, auto);
    row-gap: 1.25rem;
  }
  .footer__buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(5.75rem, auto) auto;
    grid-template-areas: "yandex qs" "button button";
    row-gap: 2.25rem;
  }
  .footer__button {
    justify-self: center;
  }
  .footer__links {
    align-self: center;
  }
}
@media (width <= 63.99875rem) {
  .footer .container {
    --container-padding-x: 1.875rem;
  }
  .footer__inner {
    padding-block: 1.5625rem 3.9375rem;
    grid-template-areas: "heading buttons" "links-list links-list" "svc svc" "copyright copyright";
    column-gap: 2.125rem;
    row-gap: 0;
  }
  .footer__heading {
    grid-area: heading;
    justify-self: center;
    text-align: center;
    margin-left: -0.3125rem;
  }
  .footer__heading-text {
    font-size: 0.75rem;
  }
  .footer__links {
    grid-area: links-list;
    margin-bottom: 1.375rem;
  }
  .footer__links-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem 1.5rem;
  }
  .footer__svc-links {
    grid-area: svc;
    max-width: unset;
    margin-bottom: 2.6875rem;
  }
  .footer__buttons {
    grid-area: buttons;
    margin-inline: auto;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    max-width: unset;
    width: 100%;
    grid-template-areas: "yandex button" ". qs";
    row-gap: 1rem;
    margin-bottom: 2.25rem;
  }
  .footer__button {
    align-self: start;
  }
  .footer__yandex-button {
    width: 3.375rem;
    height: 4.3125rem;
    align-self: start;
  }
  .footer__copyright {
    grid-area: copyright;
  }
}
@media (width <= 47.99875rem) {
  .footer .container {
    --container-padding-x: 1rem;
  }
  .footer__inner {
    padding-block: 0.6875rem 1.375rem;
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "buttons" "links-list" "svc" "copyright";
    row-gap: 0;
  }
  .footer__heading {
    max-width: unset;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: unset;
  }
  .footer__logo {
    margin-bottom: 1.125rem;
    margin-left: unset;
  }
  .footer__buttons {
    grid-template-rows: 1fr minmax(5.75rem, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "button button" "yandex qs";
    column-gap: 1.6875rem;
    row-gap: 2.3125rem;
    margin-bottom: 1.3125rem;
  }
  .footer__qs-line {
    min-width: 14.9375rem;
  }
  .footer__yandex-button {
    align-self: start;
    margin-top: 0.4375rem;
  }
  .footer__links {
    margin-bottom: 1.75rem;
  }
  .footer__links-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__yandex-button {
    margin-top: 0.4375rem;
  }
}
/*  ===================================  */
/*  =============END footer============  */
/*  ===================================  */

/*# sourceMappingURL=footer.css.map */
