@use "../../healpers" as *;
/* Styles for text block-section reference */
.reference {
  @include flex-center;

  gap: rem(30);

  &__icon {
    @include square(rem(60));

    flex-shrink: 0;

    &--h-icon {
      width: rem(141) !important;
      height: rem(165) !important;
    }
  }

  &__text {
    max-width: rem(832);
    font-size: rem(18);
    line-height: 1.5;

    &--semi-bold {
      font-weight: 600;
    }

    &--medium-lh {
      line-height: 1.2;
    }

    &--small-text-mobile {
      @include fluid-text(18, 16);
    }

    p:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
}
@include mobile-media {
  .reference {
    &--padding-mobile {
      padding-block: rem(20);
    }

    &__text {
      &--medium-lh {
        line-height: 1.37;
      }

      p:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
@include mobile-medium-media {
  .reference {
    flex-direction: column;
  }
}
/*  ====================================  */
/*  =====END block-section reference====  */
/*  ====================================  */
