@charset "UTF-8";
/* Normolize file */
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 20px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  ===================================  */
/*  ===================================  */
/* Fonts */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/*  ===================================  */
/*  ===================================  */
/* Global variables */
:root {
  --color-accent-50: #fefdfd;
  --color-accent-200: #f2e5e1;
  --color-accent-500: #fe4f02;
  --color-accent-600: #dc4401;
  --color-gray-900: #161312;
  --color-gray-850: #2b2b31;
  --color-gray-800: #352f2e;
  --color-gray-750: #484848;
  --color-gray-700: #66605f;
  --color-gray-600: #746e6d;
  --color-gray-550: #808080;
  --color-gray-500: #968e8e;
  --color-gray-450: #a5a5a5;
  --color-gray-400: #ccc5c5;
  --color-gray-350: #c8c8c8;
  --color-gray-300: #e1dcdb;
  --color-gray-200: #ece4e4;
  --color-gray-100: #f3eded;
  --color-gray-90: #dcdcdc;
  --color-gray-75: #f8efef;
  --color-gray-50: #fbf8f8;
  --color-grad-1: linear-gradient(
    180deg,
    #363130 0%,
    #363433 25.96%,
    #352f2e 49.04%,
    #413d3c 66.66%,
    #474342 76.95%,
    #514d4c 86.12%,
    #524d4c 100%
  );
  --color-grad-2: linear-gradient(90deg, #44362e75 35.45%, #beb19f12 78.09%);
  --color-grad-3: linear-gradient(
    180deg,
    #27211e 0%,
    #24272c 25.96%,
    #1a1c1e 49.04%,
    #19191c 66.66%,
    #321d17 80.64%,
    #19171a 89.34%,
    #111215 100%
  );
  --color-grad-4: linear-gradient(
    180deg,
    #060606 0%,
    #040404 25.96%,
    #050506 49.04%,
    #060607 66.66%,
    #060607 76.95%,
    #070708 86.12%,
    #0b0b0c 100%
  );
  --color-grad-5: linear-gradient(
    270deg,
    rgba(55, 50, 49, 0.15) 28%,
    rgba(55, 50, 49, 0.95) 57.52%
  );
  --color-white-opacity-10: #ffffff34;
  --color-white-opacity-35: #ffffffa8;
  --color-black-opacity-48: #3332327a;
  --color-black-opacity-80: #00000033;
  --color-red: #ba1414;
  --color-red-opcity-15: #3b060526;
  --color-red-opcity-40: #3b060566;
  --color-green: #139128;
  --color-green-light: #31ba49;
  --color-blue-extra-dark: #243746;
  --color-blue: #2c94ea;
  --color-blue-light: #2cabea;
  --color-gold: #f8981c;
  --color-orange: #f97b06;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-black-light: #363535;
  --text-color-light: var(--color-gray-50);
  --text-color-dark: var(--color-gray-900);
  --text-color-dark-secondary: var(--color-gray-700);
  --text-color-medium: var(--color-gray-500);
  --color-accent-extra-light: var(--color-accent-50);
  --color-accent: var(--color-accent-500);
  --color-error: var(--color-red);
  --color-success: var(--color-green);
  --color-rating-star: var(--color-gray-350);
  --color-rating-star-active: var(--color-gold);
  --color-border-medium: var(--color-gray-700);
  --color-border: var(--color-gray-500);
  --color-border-light: var(--color-gray-300);
  --color-border-extra-light: var(--color-gray-90);
  --color-border-active: var(--color-accent);
  --border: 0.0625rem solid var(--color-border);
  --border-light: 0.0625rem solid var(--color-border-light);
  --border-extra-light: 0.05rem solid var(--color-border-extra-light);
  --border-radius-extra-small: 0.25rem;
  --border-radius-small: 0.4375rem;
  --border-radius: 0.625rem;
  --font-family: "Open Sans", sans-serif;
  --letter-spacing: 0.01em;
  --letter-spacing-medium: 0.02em;
  --letter-spacing-big: 0.04em;
  --container-width: 78.75rem;
  --container-width-big: 120rem;
  --container-padding-x: 1.25rem;
  --section-margin-y: clamp(2.5rem, 1.3372093023rem + 4.6511627907vw, 5rem);
  --section-margin-y-static: 5rem;
  --section-margin-y-medium-static: 3.75rem;
  --section-margin-y-to-medium: clamp(3.75rem, 3.1686046512rem + 2.3255813953vw, 5rem);
  --section-margin-y-extra-big: clamp(5rem, 3.5465116279rem + 5.8139534884vw, 8.125rem);
  --section-margin-y-big: clamp(5rem, 3.8372093023rem + 4.6511627907vw, 7.5rem);
  --section-margin-y-extra-big-to-medium: clamp(3.75rem, 1.7151162791rem + 8.1395348837vw, 8.125rem);
  --section-margin-y-big-to-medium: clamp(3.75rem, 2.0058139535rem + 6.976744186vw, 7.5rem);
  --section-margin-y-big-to-small: clamp(2.5rem, 0.1744186047rem + 9.3023255814vw, 7.5rem);
  --section-margin-y-extra-big-to-small: clamp(2.5rem, -0.1162790698rem + 10.4651162791vw, 8.125rem);
  --button-height-small: 2.125rem;
  --button-height: 2.75rem;
  --button-height-big: 2.875rem;
  --auth-portal-button-height: 2.25rem;
  --transition-duration: 0.3s;
}
@media (width <= 100.06125rem) {
  :root {
    --container-padding-x: 9.375vw;
  }
}
@media (width <= 63.99875rem) {
  :root {
    --container-padding-x: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  :root {
    --container-padding-x: 0.625rem;
  }
}

/*  ===================================  */
/*  ===================================  */
/* Functional selectors ( utils file ) */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 35.93625rem) {
  .hidden-mobile-medium {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width <= 81.31125rem) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (width <= 100.06125rem) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (width > 35.93625rem) {
  .visible-mobile-medium {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width > 81.31125rem) {
  .visible-laptop {
    display: none !important;
  }
}

@media (width > 100.06125rem) {
  .visible-desktop {
    display: none !important;
  }
}

.hide-element {
  display: none !important;
}

/*  ===================================  */
/*  ===================================  */
/* GLobal styles from all site */
body {
  font-size: clamp(1rem, 0.9418604651rem + 0.2325581395vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  line-height: 1.27;
  font-weight: 400;
  color: var(--text-color-dark);
  background-color: var(--color-light);
}
body.is-lock {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: clamp(1.5rem, 0.8023255814rem + 2.7906976744vw, 3rem);
}

h2,
.h2 {
  font-size: clamp(1.875rem, 1.351744186rem + 2.0930232558vw, 3rem);
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.2674418605rem + 0.9302325581vw, 2rem);
}

h4,
.h4 {
  font-size: clamp(1.25rem, 1.1337209302rem + 0.4651162791vw, 1.5rem);
}

h5,
.h5 {
  font-size: clamp(1.0625rem, 0.9752906977rem + 0.3488372093vw, 1.25rem);
}

h6,
.h6 {
  font-size: clamp(0.9375rem, 0.8502906977rem + 0.3488372093vw, 1.125rem);
}

a,
button,
input,
textarea,
label,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}
@media (any-hover: hover) {
  a:hover {
    filter: opacity(0.6);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  a:active {
    filter: opacity(0.6);
  }
}
a:active {
  filter: opacity(0.4);
  will-change: transform;
  scale: 0.98;
}

:focus {
  transition-duration: 0s !important;
}

a[aria-label]:not(.promotion__card-link),
button[aria-label]:not(.promotion__card-link) {
  position: relative;
}
a[aria-label]:not(.promotion__card-link)::before,
button[aria-label]:not(.promotion__card-link)::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

/*  ===================================  */
/*  ===================================  */
/* Animations */
@keyframes scrolling-sticky {
  to {
    box-shadow: 0 0 10rem 1rem var(--color-black-opacity-80);
  }
}
@keyframes visible-to-scroll {
  to {
    position: static;
    translate: 0 0;
    height: auto;
    overflow: visible;
  }
}
@keyframes hidden-to-scroll {
  to {
    translate: 0 -62.5rem;
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
  }
}
/*  ===================================  */
/*  ===================================  */
/* Styles for buttons */
.button {
  --buttonColorBg: var(--color-blue);
  --buttonColorBgLight: var(--color-blue-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8125rem, 0.7252906977rem + 0.3488372093vw, 1rem);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
  color: var(--text-color-light);
  background-color: var(--buttonColorBg);
  border: none;
  border-radius: var(--border-radius);
  min-height: var(--button-height);
  padding: 0.5625rem 1.25rem;
  transition-duration: var(--transition-duration) !important;
  will-change: transform;
}
@media (any-hover: hover) {
  .button:hover {
    filter: brightness(90%);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .button:active {
    filter: brightness(90%);
  }
}
.button:active {
  filter: brightness(90%);
  scale: 0.97;
}
.button--light-bg-color {
  background-color: var(--buttonColorBgLight);
}
.button__icon--tg {
  width: 1.75rem;
  height: 1.4375rem;
  fill: currentColor;
}
.button--entry-tg {
  display: flex;
  align-items: center;
  column-gap: 1.375rem;
  min-height: clamp(3.125rem, 2.2529069767rem + 3.488372093vw, 5rem);
  padding-inline: 0.96875rem 0.84375rem;
  font-size: clamp(0.9375rem, 0.7921511628rem + 0.5813953488vw, 1.25rem);
  line-height: 1.3;
  border-radius: var(--border-radius-small);
  color: var(--color-light);
  background-color: var(--color-blue-light);
}
.button--accent-bg {
  background-color: var(--color-accent);
}
.button--light {
  font-size: 0.8125rem;
  line-height: 1.69;
  background-color: var(--color-light);
  color: var(--text-color-medium);
  border: 0.0625rem solid currentColor;
}
.button--light-accent {
  color: var(--color-accent);
  background-color: var(--color-light);
}
.button--medium-padding {
  padding-inline: 2.15625rem;
}

@media (width <= 47.99875rem) {
  .button {
    --buttonColorBg: var(--color-blue-light);
  }
  .button--light {
    min-height: var(--button-height-small);
    padding: 0.3125rem 0.6875rem;
  }
}
@media (width <= 35.93625rem) {
  .button {
    width: 100%;
  }
}
/*  ===================================  */
/*  ===================================  */
/* Styles for common block logo */
.logo {
  width: 20.625rem;
  height: 4.375rem;
}
.logo--short {
  flex-shrink: 0;
  width: 2.8125rem;
  height: 2.8125rem;
}
@media (any-hover: hover) {
  .logo:hover {
    filter: opacity(50%);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .logo:active {
    filter: opacity(50%);
  }
}
.logo:active {
  filter: opacity(30%);
  scale: 0.98;
}
.logo__image {
  width: inherit;
  height: inherit;
}

/*  ===================================  */
/*  ===================================  */
/* Styles for common block section */
.section {
  margin-bottom: var(--section-margin-y);
}
.section--extra-big-margin {
  margin-bottom: var(--section-margin-y-extra-big);
}
.section--big-margin {
  margin-bottom: var(--section-margin-y-big);
}
.section--static-margin {
  margin-bottom: var(--section-margin-y-static);
}
.section--static-medium-margin {
  margin-bottom: var(--section-margin-y-medium-static);
}
.section--margin-to-medium {
  margin-bottom: var(--section-margin-y-to-medium);
}
.section--extra-big-to-medium-margin {
  margin-bottom: var(--section-margin-y-extra-big-to-medium);
}
.section--big-to-medium-margin {
  margin-bottom: var(--section-margin-y-big-to-medium);
}
.section--big-to-small-margin {
  margin-bottom: var(--section-margin-y-big-to-small);
}
.section--extra-big-to-small-margin {
  margin-bottom: var(--section-margin-y-extra-big-to-small);
}
.section__title {
  margin-block: 0 clamp(1.25rem, 0.3779069767rem + 3.488372093vw, 3.125rem);
  text-align: center;
  line-height: 1.2;
}
.section__title--static-margin {
  margin-block: 0 3.125rem !important;
}
.section__subtitle {
  color: var(--text-color-dark-secondary);
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  margin-inline: auto;
  margin-block: 0 clamp(1.25rem, 0.3779069767rem + 3.488372093vw, 3.125rem);
}
.section__subtitle--tire-fitting-page {
  max-width: 50rem;
}

@media (width <= 63.99875rem) {
  .section__title {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-block: 0 1.25rem;
  }
}
/*  ===================================  */
/*  ===================================  */
/* Block call-up . Part of header*/
.call-up {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.call-up__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
}
.call-up__text {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-align: center;
  color: var(--text-color-medium);
}

@media (width <= 63.99875rem) {
  .call-up__link {
    font-size: 1rem;
  }
  .call-up__text {
    font-size: 0.875rem;
  }
}
/* BLock header-menu .part of header*/
.header-menu {
  width: 100%;
}
.header-menu--color-accent {
  background-color: var(--color-accent-200);
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.9375rem, 0.8502906977rem + 0.3488372093vw, 1.125rem);
  column-gap: clamp(1rem, 0.3023255814rem + 2.7906976744vw, 2.5rem);
  row-gap: 1.0625rem;
  padding-block: 0.84375rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}

@media (width <= 81.31125rem) {
  .header-menu__list {
    flex-wrap: wrap;
  }
  .header-menu__item {
    margin-inline: auto;
  }
}
@media (width <= 63.99875rem) {
  .header-menu__list {
    font-size: 0.9375rem;
    max-width: 47.5rem;
  }
}
@media (width <= 47.99875rem) {
  .header-menu__list {
    padding-block: 0.9375rem;
    padding-inline: 0.625rem;
  }
}
/* BLock header-top-menu */
.header-top-menu {
  --mobileMenuTextColor: var(--color-light);
  display: block;
  background-color: var(--color-gray-900);
  padding-block: 0.6875rem;
  color: var(--mobileMenuTextColor);
  font-weight: 600;
  font-size: 0.875rem;
  /* Временно , заменить на display none , через JS */
}
.header-top-menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1.625rem;
}
.header-top-menu__link--color-accent {
  color: var(--color-accent);
}
.header-top-menu__link--color-green {
  color: var(--color-green-light);
}

@media (width <= 63.99875rem) {
  .header-top-menu__list {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
  }
}
/*  ===================================  */
/*  ===================================  */
/* Styles for mobile menu. part of header */
.mobile-menu {
  --mobileMenuBackgroundColor: var(--color-gray-900);
  z-index: 4;
}
.mobile-menu__burger {
  width: 1.71875rem;
  height: 1.75rem;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3125rem 0.125rem;
  color: var(--text-color-dark);
  background-color: transparent;
  border: none;
}
.mobile-menu__burger-line {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .mobile-menu__burger:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .mobile-menu__burger:active {
    color: var(--color-accent);
  }
}
.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: var(--container-padding-x);
  background-color: var(--mobileMenuBackgroundColor);
  visibility: hidden;
  transition-duration: var(--transition-duration);
  transform: translateY(-100%);
}
.mobile-menu__link--color-accent {
  color: var(--color-accent);
}
.mobile-menu__link--color-green {
  color: var(--color-green-light);
}

#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger {
  color: var(--text-color-light);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.04em;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-line:nth-child(2) {
  rotate: -45deg;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-line:last-child {
  width: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  transform: translateY(0%);
  overflow: hidden;
}

/* General block header.For all pages. */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-accent-50);
}
.header__logo {
  width: 20.625rem;
  height: 4.375rem;
}
.header__general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  padding-block: clamp(0.125rem, -0.136627907rem + 1.0465116279vw, 0.6875rem) 0.75rem;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 3.6875rem;
}

@media (width <= 81.31125rem) {
  .header__buttons {
    column-gap: 1.5rem;
  }
}
@media (width <= 63.99875rem) {
  .header__logo {
    grid-area: logo;
    width: 16.4375rem;
    height: 3.375rem;
  }
  .header__general {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo buttons burger";
    row-gap: 0.75rem;
  }
  .header__buttons {
    grid-area: buttons;
    justify-content: center;
  }
  .header__mobile-menu {
    grid-area: burger;
    justify-self: end;
  }
}
@media (width <= 47.99875rem) {
  .header {
    background-color: var(--color-light);
  }
  .header__logo {
    width: 17.0625rem;
    height: 3.625rem;
  }
  .header__general {
    padding-inline: 0.625rem 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo burger" "buttons buttons";
  }
  .header__buttons {
    column-gap: 1rem;
  }
}
/*  ===================================  */
/*  =============END header============  */
/*  ===================================  */
/* Section page-heading */
.page-heading {
  --breadcrumbsColor: var(--color-gray-500);
  --breadcrumbsGap: clamp(3rem, 2.9418604651rem + 0.2325581395vw, 3.125rem);
  padding-block: 1.5rem 2.9375rem;
  color: var(--breadcrumbsColor);
}
.page-heading__breadcrumbs {
  margin-bottom: 1.125rem;
}
.page-heading__breadcrumbs-list {
  display: flex;
  align-items: center;
  column-gap: var(--breadcrumbsGap);
}
.page-heading__breadcrumbs-item {
  position: relative;
}
.page-heading__breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "−";
  right: calc(var(--breadcrumbsGap) / 2 * -1 - 0.3125rem);
  top: 10%;
}
.page-heading__breadcrumbs-item:last-child a {
  opacity: 0.7;
  pointer-events: none;
}
.page-heading__breadcrumbs-link {
  font-size: clamp(0.9375rem, 0.8502906977rem + 0.3488372093vw, 1.125rem);
  color: currentColor;
  line-height: 1.5;
}
.page-heading__page-name {
  color: var(--color-dark);
}
.page-heading__page-name--small-mobile {
  font-size: clamp(1.25rem, 0.9011627907rem + 1.3953488372vw, 2rem);
  line-height: 1.5;
}

@media (width <= 63.99875rem) {
  .page-heading {
    padding-block: 1.25rem 2.5rem;
  }
  .page-heading__breadcrumbs {
    margin-bottom: 0.625rem;
  }
  .page-heading__breadcrumbs-item:not(:last-child)::after {
    top: 5%;
  }
  .page-heading__breadcrumbs-link {
    line-height: 1.4;
    letter-spacing: 0.03em;
  }
}
@media (width <= 47.99875rem) {
  .page-heading__breadcrumbs-list {
    flex-wrap: wrap;
    column-gap: var(--breadcrumbsGap);
    row-gap: 0.9375rem;
  }
}
/*  ===================================  */
/*  ==========END page-heading=========  */
/*  ===================================  */
/* Section contacts. Block with contact info cards . sourse contacts page */
.contacts {
  --contactsCardColorBg: var(--color-accent-200);
}
.contacts__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(0.625rem, 0.2180232558rem + 1.6279069767vw, 1.5rem);
}
.contacts__list-item {
  max-width: 18.5625rem;
  width: 100%;
}
.contacts__card {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  background-color: var(--contactsCardColorBg);
  border-radius: var(--border-radius-small);
  padding: 1.25rem 1.25rem 0.3125rem;
  width: 100%;
  min-height: 19rem;
  height: 100%;
}
.contacts__card-image {
  width: 3.75rem;
  height: 3.75rem;
  align-self: center;
  flex-shrink: 0;
}
.contacts__card-name {
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  min-height: 4.125rem;
}
.contacts__card-info {
  padding-left: 0;
}
.contacts__card-item {
  display: flex;
  column-gap: 1.25rem;
  min-height: 1.9375rem;
}
.contacts__card-item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.contacts__card-icon {
  flex-shrink: 0;
  fill: transparent;
}
.contacts__card-text {
  line-height: 1.4;
  font-weight: 600;
  color: var(--text-color-dark-secondary);
}
.contacts address {
  font-style: normal;
}
.contacts a {
  transition-duration: var(--transition-duration) !important;
}

/*  ==================================  */
/*  =======END section contacts=======  */
/*  ==================================  */
/* Section requisites. Block with conpany requisites . sourse contacts page */
.requisites {
  color: var(--text-color-light);
  background-color: var(--color-gray-800);
  padding-inline: var(--container-padding-x);
  padding-block: clamp(1.25rem, 0.3779069767rem + 3.488372093vw, 3.125rem);
}
.requisites__body {
  max-width: 52rem;
  width: 100%;
  margin-inline: auto;
}
.requisites__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

/*  ====================================  */
/*  =======END section requisites=======  */
/*  ====================================  */
/* Search block. ( form + input + button) .part of block locations */
.search {
  --searchBlockHeight: 2.375rem;
  --searchBlockHeightHigh: 3.125rem;
  --searchBgColor: var(--color-light);
  --searchBgColorHover: var(--color-gray-100);
  --searchBorder: var(--border-light);
  --searchIconColor: var(--color-border-medium);
  position: relative;
  display: block;
  height: 100%;
}
.search__input {
  min-height: var(--searchBlockHeight);
  height: 100%;
  width: 100%;
  padding-inline: 0.625rem calc(var(--searchBlockHeight) + 1.25rem);
  padding-block: 0.1875rem;
  border: none;
  outline: var(--searchBorder);
  border-radius: var(--border-radius-small);
  background-color: var(--searchBgColor);
  transition-duration: var(--transition-duration) !important;
}
.search__input--high {
  min-height: var(--searchBlockHeightHigh);
}
.search__input:focus {
  background-color: var(--searchBgColor) !important;
  outline: var(--border);
}
@media (any-hover: hover) {
  .search__input:hover {
    background-color: var(--searchBgColorHover);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .search__input:active {
    background-color: var(--searchBgColorHover);
  }
}
.search__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: 0;
  right: 0;
  border-radius: var(--border-radius-small);
  min-height: var(--searchBlockHeight);
  width: var(--searchBlockHeight);
}
.search__button--high {
  min-height: var(--searchBlockHeightHigh);
}
@media (any-hover: hover) {
  .search__button:hover {
    filter: opacity(0.6);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .search__button:active {
    filter: opacity(0.6);
  }
}
.search__button:active {
  filter: opacity(0.3);
}
.search__icon {
  fill: transparent;
  stroke: var(--searchIconColor);
}

@media (width <= 47.99875rem) {
  .search {
    --searchBlockHeightHigh: 2.625rem;
  }
}
/* Filter services in the block locations. ( form and input type ratios )*/
.locations-filter__border {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  outline: none;
}
.locations-filter__element {
  display: flex;
  align-items: center;
  column-gap: 0.6875rem;
  outline: var(--border-light);
  border-radius: var(--border-radius-small);
  padding: 0.875rem 0.6875rem 0.75rem 0.6875rem;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.1;
  text-transform: uppercase;
  transition-duration: var(--transition-duration) !important;
  will-change: transform;
}
@media (any-hover: hover) {
  .locations-filter__element:hover {
    filter: opacity(70%);
    outline: var(--border);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .locations-filter__element:active {
    filter: opacity(70%);
    outline: var(--border);
  }
}
.locations-filter__element:active {
  scale: 0.98;
}
.locations-filter__input {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.locations-filter__input::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  outline: var(--border);
  border-radius: 0.125rem;
  background-color: var(--color-light);
  cursor: pointer;
}
.locations-filter__input:checked::before {
  content: "✔";
}

/* Styles for location-card . Source - block locations */
.location-card {
  --locationCardBg: var(--color-light);
  --locationCardBgActive: var(--color-accent-200);
  --locationCardHeight: 12.75rem;
  display: flex;
  min-height: var(--locationCardHeight);
  transition-duration: var(--transition-duration);
  outline: var(--border-light);
  border-radius: var(--border-radius-small);
  background-color: var(--locationCardBg);
}
.location-card.is-active {
  background-color: var(--locationCardBgActive);
}
@media (any-hover: hover) {
  .location-card:hover {
    background-color: var(--locationCardBgActive);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .location-card:active {
    background-color: var(--locationCardBgActive);
  }
}
.location-card__image {
  width: inherit;
  min-height: inherit;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}
.location-card__image-wrapper {
  width: 8.75rem;
  min-height: 100%;
  flex-shrink: 0;
}
.location-card__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.625rem 1.25rem 1.25rem;
  color: var(--text-color-dark-secondary);
}
.location-card__address-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--text-color-dark);
  cursor: pointer;
  letter-spacing: var(--letter-spacing);
  line-height: 1.3;
  transition-duration: var(--transition-duration) !important;
}
@media (any-hover: hover) {
  .location-card__address-button:hover {
    filter: opacity(0.6);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .location-card__address-button:active {
    filter: opacity(0.6);
  }
}
.location-card__address-button:active {
  filter: opacity(0.3);
  will-change: transform;
}
.location-card__text-block {
  font-size: 1rem;
  line-height: 1.4;
  word-spacing: 0.1em;
  margin-bottom: 0.625rem;
}
.location-card__text-block p:not(:last-child) {
  margin-bottom: 0;
}
.location-card__register-time--today {
  color: var(--color-green-light);
}
.location-card__buttons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

@media (width <= 47.99875rem) {
  .location-card {
    --locationCardHeight: 9.875rem;
    row-gap: 0.625rem;
  }
  .location-card__image-wrapper {
    width: 6.25rem;
  }
  .location-card__body {
    padding: 0.125rem 0.625rem 0rem;
  }
  .location-card__address {
    letter-spacing: -0.02em;
  }
  .location-card__text-block {
    font-size: 0.9375rem;
    word-spacing: 0.2em;
    margin-bottom: 0.25rem;
  }
}
/* Styles for the map. part of block locations .Current, will need to be added...*/
.map-block {
  position: relative;
}
.map-block__iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-block__marker {
  position: absolute;
  top: 50%;
  left: 30%;
  width: clamp(1.125rem, 0.3691860465rem + 3.023255814vw, 2.75rem);
  height: clamp(1.5rem, 0.511627907rem + 3.9534883721vw, 3.625rem);
}
.map-block__marker--active {
  left: 40%;
}

/* Section locations. Component for the user to select a suitable service on the map. sourse home page */
.locations {
  --locationScrollThumbColor: var(--color-gray-400);
  --locationScrollThumbColorHover: var(--color-gray-500);
  --locationScrollBgColor: var(--color-gray-90);
  --locationListHeight: 45rem;
}
.locations__filter {
  margin-block: 0 clamp(0.625rem, 0.0436046512rem + 2.3255813953vw, 1.875rem);
}
.locations__body {
  height: var(--locationListHeight);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-block: 0 clamp(0.625rem, 0.0436046512rem + 2.3255813953vw, 1.875rem);
}
.locations__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  max-width: 31.6875rem;
  width: 100%;
  height: inherit;
  padding-inline: 0.0625rem 0.25rem;
  padding-block: 0.125rem 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.locations__list::-webkit-scrollbar {
  width: 0.275rem;
  height: 0.275rem;
}
.locations__list::-webkit-scrollbar-track {
  background: var(--locationScrollBgColor);
}
.locations__list::-webkit-scrollbar-thumb {
  background: var(--locationScrollThumbColor);
}
.locations__list::-webkit-scrollbar-thumb:hover {
  background: var(--locationScrollThumbColorHover);
}
.locations__list::-webkit-scrollbar-button {
  display: none;
}
.locations__list-item--search {
  position: sticky;
  top: 0;
  z-index: 3;
  animation-name: scrolling-sticky;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 1.25rem 2.5rem;
}
.locations__map-block {
  max-width: 46.0625rem;
  width: 100%;
}

@media (width <= 81.31125rem) {
  .locations {
    --locationListHeight: 55.875rem;
  }
  .locations__body {
    flex-direction: column-reverse;
    height: auto;
    gap: 1.0625rem;
  }
  .locations__list {
    height: var(--locationListHeight);
    max-width: unset;
    row-gap: 0.125rem;
  }
  .locations__map-block {
    height: 19.5rem;
    max-width: unset;
    border-radius: var(--border-radius-small);
    overflow: hidden;
  }
}
@media (width <= 63.99875rem) {
  .locations__filter {
    margin-block: 0 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .locations {
    --locationListHeight: 41.875rem;
  }
}
@media (width <= 30.06125rem) {
  .locations__list {
    padding-inline: 0.0625rem 0.125rem;
  }
}
/*  ===================================  */
/*  =======END section locations=======  */
/*  ===================================  */
/* Navigation footer section. part of footer */
.footer-svc-links__heading {
  font-size: 1rem;
  line-height: 2.625rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
  text-align: center;
  color: var(--color-light);
  border-bottom: var(--border-light);
  width: 100%;
  margin-bottom: 2.25rem;
}
.footer-svc-links__nemu {
  font-weight: 600;
  font-size: 0.875rem;
}
.footer-svc-links__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 11.875rem));
  gap: 1.5rem;
}
.footer-svc-links__item:not(:last-child) {
  margin-bottom: 0.875rem;
}
.footer-svc-links__link {
  line-height: 1.44;
}

@media (width <= 81.31125rem) {
  .footer-svc-links__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.75rem 1.5rem;
  }
}
@media (width <= 63.99875rem) {
  .footer-svc-links__list {
    gap: 1.5625rem 1.5rem;
  }
  .footer-svc-links__list li:nth-child(3n) {
    order: 2;
  }
  .footer-svc-links__item:not(:last-child) {
    margin-bottom: 1.4375rem;
  }
}
@media (width <= 30.06125rem) {
  .footer-svc-links__list {
    grid-template-columns: 1fr;
    gap: 0.875rem 1.5rem;
  }
  .footer-svc-links__list li:nth-child(3n) {
    order: 0;
  }
  .footer-svc-links__item:not(:last-child) {
    margin-bottom: 0.85625rem;
  }
}
/* Block footer . For all pages.*/
.footer {
  background-color: var(--color-gray-800);
  color: var(--color-white-opacity-35);
}
.footer__inner {
  padding-block: clamp(0.9375rem, 0.6468023256rem + 1.1627906977vw, 1.5625rem) clamp(1.375rem, 0.2122093023rem + 4.6511627907vw, 3.875rem);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 3.0625rem;
  column-gap: 4.625rem;
}
.footer__heading {
  max-width: 21.875rem;
  width: 100%;
}
.footer__heading-text {
  font-size: 0.8125rem;
  line-height: 1.4;
}
.footer__logo {
  width: 20.6875rem;
  height: 4.875rem;
  margin-bottom: 1rem;
  margin-left: -0.625rem;
}
.footer__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.375rem;
  align-self: flex-end;
  max-width: 52rem;
}
.footer__qs-line {
  grid-area: qs;
  max-width: 25.25rem;
  width: 100%;
}
.footer__qs-line-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-block: clamp(0rem, -0.4941860465rem + 1.976744186vw, 1.0625rem);
  padding-inline: 2.5rem;
  border: var(--border-light);
  border-radius: var(--border-radius-small);
  color: var(--color-green-light);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  text-transform: uppercase;
}
.footer__qs-line-phone {
  white-space: nowrap;
}
.footer__qs-line-text {
  font-size: 0.9375rem;
  line-height: 1.3;
  max-width: 14.6875rem;
}
.footer__yandex-button {
  grid-area: yandex;
  justify-self: center;
  width: clamp(3.375rem, 2.851744186rem + 2.0930232558vw, 4.5rem);
  height: clamp(4.3125rem, 3.6438953488rem + 2.6744186047vw, 5.75rem);
  margin-top: -0.5625rem;
}
.footer__button {
  grid-area: button;
  font-size: 1rem;
}
.footer__svc-links {
  max-width: 52rem;
}
.footer__links {
  align-self: end;
  color: var(--color-light);
  font-size: 1rem;
  line-height: 1.25;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 1.9375rem 1.875rem;
  letter-spacing: var(--letter-spacing);
}
.footer__copyright {
  line-height: 1.16667;
  font-size: 0.75rem;
}
.footer ul {
  list-style: none;
  margin-block: 0;
  padding: 0;
}
.footer a {
  transition-duration: var(--transition-duration) !important;
}

@media (width <= 81.31125rem) {
  .footer__inner {
    grid-template-rows: repeat(3, auto);
    row-gap: 1.25rem;
  }
  .footer__buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(5.75rem, auto) auto;
    grid-template-areas: "yandex qs" "button button";
    row-gap: 2.25rem;
  }
  .footer__button {
    justify-self: center;
  }
  .footer__links {
    align-self: center;
  }
}
@media (width <= 63.99875rem) {
  .footer .container {
    --container-padding-x: 1.875rem;
  }
  .footer__inner {
    padding-block: 1.5625rem 3.9375rem;
    grid-template-areas: "heading buttons" "links-list links-list" "svc svc" "copyright copyright";
    column-gap: 2.125rem;
    row-gap: 0;
  }
  .footer__heading {
    grid-area: heading;
    justify-self: center;
    text-align: center;
    margin-left: -0.3125rem;
  }
  .footer__heading-text {
    font-size: 0.75rem;
  }
  .footer__links {
    grid-area: links-list;
    margin-bottom: 1.375rem;
  }
  .footer__links-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem 1.5rem;
  }
  .footer__svc-links {
    grid-area: svc;
    max-width: unset;
    margin-bottom: 2.6875rem;
  }
  .footer__buttons {
    grid-area: buttons;
    margin-inline: auto;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    max-width: unset;
    width: 100%;
    grid-template-areas: "yandex button" ". qs";
    row-gap: 1rem;
    margin-bottom: 2.25rem;
  }
  .footer__button {
    align-self: start;
  }
  .footer__yandex-button {
    width: 3.375rem;
    height: 4.3125rem;
    align-self: start;
  }
  .footer__copyright {
    grid-area: copyright;
  }
}
@media (width <= 47.99875rem) {
  .footer .container {
    --container-padding-x: 1rem;
  }
  .footer__inner {
    padding-block: 0.6875rem 1.375rem;
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "buttons" "links-list" "svc" "copyright";
    row-gap: 0;
  }
  .footer__heading {
    max-width: unset;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: unset;
  }
  .footer__logo {
    margin-bottom: 1.125rem;
    margin-left: unset;
  }
  .footer__buttons {
    grid-template-rows: 1fr minmax(5.75rem, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "button button" "yandex qs";
    column-gap: 1.6875rem;
    row-gap: 2.3125rem;
    margin-bottom: 1.3125rem;
  }
  .footer__qs-line {
    min-width: 14.9375rem;
  }
  .footer__yandex-button {
    align-self: start;
    margin-top: 0.4375rem;
  }
  .footer__links {
    margin-bottom: 1.75rem;
  }
  .footer__links-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem 2rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__yandex-button {
    margin-top: 0.4375rem;
  }
}
/*  ===================================  */
/*  =============END footer============  */
/*  ===================================  */

/*# sourceMappingURL=contacts.css.map */
