@use "../../healpers" as *;
@use "other-service-card";
/* Section other-services.*/
.other-services {
  &__list {
    padding-inline: fluid(32, 12);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: fluid(24, 10);

    &-item {
      justify-self: center;
    }
  }
}

@include desktop-media {
  .other-services {
    &__list {
      max-width: rem(1000);
      margin-inline: auto;

      grid-template-columns: repeat(6, 1fr);
      li:nth-child(1),
      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(6),
      li:nth-child(7),
      li:nth-child(8) {
        grid-column: span 2;
      }
      li:nth-child(4),
      li:nth-child(5),
      li:nth-child(9),
      li:nth-child(10) {
        grid-column: span 3;
      }
    }
  }
}

@include tablet-media {
  .other-services {
    &__list {
      &-item {
        justify-self: end;

        &:nth-child(even) {
          justify-self: start;
        }
      }
    }
  }
}

@include mobile-media {
  .other-services {
    &__list {
      row-gap: rem(9.5);

      li:nth-child(1),
      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(6),
      li:nth-child(7),
      li:nth-child(8) {
        grid-column: span 3;
      }
    }
  }
}
/*  =======================================  */
/*  =======END section other-services======  */
/*  =======================================  */
