@use "../../healpers" as *;
@use "other-service-card";
/* Section other-services.*/
.other-services {
  &__list {
    max-width: rem(952);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: fluid(24, 10);
  }
}

@include tablet-media {
  .other-services {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
      column-gap: fluid(160, 10);

      &-item {
        justify-self: end;

        &:nth-child(even) {
          justify-self: start;
        }
      }
    }
  }
}
/*  ===================================  */
/*  =======END section other-services======  */
/*  ===================================  */
