@use "../../healpers" as *;
/* Styles for section our clients( slider with companies logos ) . source -- home page */
.our-clients {
  overflow-x: hidden;

  &__slider {
    --clientsSlideWidth: #{rem(190)};
    --clientsSlideHeight: #{rem(115)};

    min-height: calc(var(--clientsSlideHeight) + #{rem(2)});
  }
  &__slide {
    width: var(--clientsSlideWidth);
    height: var(--clientsSlideHeight);
  }
  &__link {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    outline: var(--border-extra-light);
    background-color: var(--color-light);
    border-radius: var(--border-radius-small);

    @include hover {
      filter: opacity(100);

      .our-clients__image {
        filter: brightness(80%);
      }
    }

    @include active {
      .our-clients__image {
        scale: 0.98;
      }
    }
  }

  &__image {
    transition-duration: var(--transition-duration);
    width: var(--clientsSlideWidth);
    height: var(--clientsSlideHeight);
    border-radius: inherit;
  }
}

/*  ===================================  */
/*  =======END section our clients=====  */
/*  ===================================  */
