@use "../../healpers" as *;
@use "special-offer";

/* Styles for section special offers. source -- main page */
.special-offers {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(24);
  }
}

@include tablet-media {
  .special-offers {
    &__list {
      gap: rem(20);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
/*  ===================================  */
/*  ===================================  */
