@use "../../healpers" as *;
/* Section promo. Styles for decoking-engine page */
.promo {
  position: relative;
  min-height: rem(600);

  color: var(--text-color-light);
  overflow: hidden;
  background: var(--color-grad-1);

  &__background {
    max-width: rem(1920);
    width: 100%;
    height: rem(600);
    position: absolute;
    left: 50%;
    translate: -50% 0;
  }

  &__decor-image {
    @include square(rem(269));

    position: absolute;

    &--left {
      top: rem(65);
      left: rem(32);
    }
  }

  &__main-image {
    width: inherit;
    height: inherit;

    &-wrapper {
      width: rem(900);
      height: rem(600);

      position: absolute;
      top: 0;
      right: rem(50);
    }
  }

  &__content {
    padding-block: fluid(86, 20) 0;
  }

  &__title {
    position: relative;
    max-width: rem(1085);
    line-height: 1.3;

    span {
      display: inline-block;
      margin-bottom: rem(40);
    }
  }

  &__subtitle {
    @include fluid-text(64, 30);

    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: rem(40);
    text-transform: uppercase;
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    gap: fluid(24, 16);
  }

  &__button {
    position: relative;
    font-size: rem(16);
    letter-spacing: var(--letter-spacing);
  }
}
@media (width <= rem(1800.98)) {
  .promo {
    &__decor-image {
      &--left {
        top: -40%;
        translate: -50% 50%;
      }
    }

    &__main-image {
      &-wrapper {
        right: rem(-200);
      }
    }
  }
}

@include laptop-media {
  .promo {
    &__main-image {
      &-wrapper {
        width: rem(360);
        height: rem(262);
        right: rem(75);
        top: unset;
        bottom: 0;
      }
    }

    &__title {
      max-width: unset;
      margin-bottom: rem(31);
    }

    &__subtitle {
      margin-bottom: rem(31);
    }
  }
}
@include tablet-media {
  .promo {
    min-height: rem(484);
    background: var(--color-grad-2), var(--color-grad-1);

    .container {
      --container-padding-x: #{rem(43)};
    }

    &__main-image {
      &-wrapper {
        right: 5%;
        top: unset;
        bottom: rem(116);
      }
    }

    &__content {
      padding-block: rem(40) 0;
    }

    &__title {
      max-width: unset;
      padding-inline: rem(10);
    }

    &__subtitle {
      margin-bottom: rem(31);
    }

    &__button {
      font-size: rem(13);
      min-width: rem(160);
      line-height: 1.69231;
    }
  }
}
@include mobile-media {
  .promo {
    background: inherit;

    &__background {
      position: static;
      top: unset;
      left: unset;
      display: flex;
      align-items: end;
      justify-content: center;
      height: rem(484);
      translate: 0;
      max-width: unset;
      width: 100%;
      background: var(--color-grad-1);
    }

    &__main-image {
      &-wrapper {
        right: unset;
        bottom: 0;
      }
    }

    &__content {
      padding-block: unset;
      padding-inline: rem(12);
    }

    &__title {
      position: absolute;
      top: rem(40);
      left: 50%;
      translate: -50% 0;
      width: 100%;
      text-align: center;
      line-height: 1.3;

      & > span:first-child {
        margin-bottom: rem(21);
      }
    }

    &__subtitle {
      text-align: center;
    }
  }
}
