@use "../../healpers" as *;
/* Section promo. Styles for promo in the loyalty page */
.promo {
  color: var(--text-color-light);
  min-height: rem(600);
  margin-inline: auto;
  background-color: var(--color-gray-900);

  &__background {
    min-height: rem(600);
    position: absolute;
    margin-inline: auto;
    top: 0;
    left: 0;
    max-width: rem(1920);

    &-wrapper {
      position: relative;
      max-width: rem(1920);
      margin-inline: auto;
    }

    &-image {
      height: rem(600);
      width: rem(1920);
      object-fit: cover;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    padding-block: fluid(133, 64) 0;
  }

  &__title {
    @include fluid-text(48, 20);

    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: rem(40);
    letter-spacing: var(--letter-spacing);
  }

  &__subtitle {
    margin-bottom: rem(40);
    line-height: 1.5;
    max-width: rem(788);
  }

  &__button {
    padding-inline: rem(25.5);
  }
}

@include tablet-media {
  .promo {
    min-height: rem(482);
    background-color: unset;

    .container {
      --container-padding-x: #{rem(43)};
    }

    &__background {
      min-height: rem(482);

      &-image {
        height: rem(482);
        width: rem(1024);
      }
    }

    &__body {
      padding-block: rem(70) 0;
    }

    &__subtitle {
      max-width: rem(500);
      font-size: rem(16);
    }
  }
}

@include mobile-media {
  .promo {
    min-height: unset;
    .container {
      --container-padding-x: #{rem(12)};
    }

    &__background {
      position: static;

      &-image {
        width: rem(768);
        height: rem(260);
        margin-bottom: rem(11);
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding-block: 0;
    }

    &__title {
      width: 100%;
      position: absolute;
      top: rem(-244);
      left: calc(var(--container-padding-x) * -1);
      padding-inline: calc(var(--container-padding-x) * 2) 0;
      text-align: center;
      line-height: 1.3;
    }

    &__subtitle {
      max-width: unset;
      margin-bottom: rem(10);
      color: var(--text-color-dark);
      font-weight: 600;

      p {
        margin-bottom: 0;
      }
    }

    &__button {
      align-self: center;
    }
  }
}
/*  ======================================  */
/*  =====END promo block(loyalty page)====  */
/*  ======================================  */
