@use "../../healpers" as *;
/* section when-work*/
.when-work {
  &__wrapper {
    @include flex-space-between;

    gap: rem(20);
    outline: var(--border-light);
    padding-inline: rem(100) 0;
    border-radius: var(--border-radius-small);

    &--desktop-padding {
      padding-block: fluid(17.5, 0);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    max-width: rem(591);
  }

  &__title {
    line-height: 1.2;
  }

  &__subtitle {
    line-height: 1.5;
    color: var(--text-color-dark-secondary);

    &--bold {
      @include fluid-text(20, 17);

      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      color: var(--text-color-dar);
    }

    &:has(ul) {
      ul {
        margin-block: 0;
        text-align: start;
        padding-left: rem(27);
      }
    }
  }

  &__buttons {
    display: flex;

    gap: rem(20);
  }

  &__button {
    @include fluid-text(16, 15);

    font-weight: 700;
    min-width: rem(140);
    letter-spacing: var(--letter-spacing-big);

    &:not(.button--accent-bg) {
      background: var(--color-blue-light);
    }
  }

  &__image {
    &-wrapper {
      width: rem(469);
      height: rem(308);
      flex-shrink: 0;
    }

    width: inherit;
    height: inherit;
  }
}

@include laptop-media {
  .when-work {
    &__wrapper {
      padding-inline: rem(40) 0;
    }
  }
}
@include tablet-media {
  .when-work {
    &__wrapper {
      padding-inline: rem(20) 0;
      padding: rem(20);
    }

    &__body {
      row-gap: rem(20);
    }

    &__buttons {
      gap: rem(10);
    }

    &__image {
      &-wrapper {
        width: rem(320);
        height: rem(195);
      }
    }
  }
}
@include mobile-media {
  .when-work {
    &__wrapper {
      flex-direction: column;
    }

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__button {
      width: 100%;
    }

    &__image {
      &-wrapper {
        order: -1;
      }
    }
  }
}
@include mobile-medium-media {
  .when-work {
    &__wrapper {
      padding-inline: 0;
    }

    &__body {
      row-gap: rem(30);
    }

    &__title {
      padding-inline: rem(30);
      line-height: 1.5;

      &--static-padding {
        padding-inline: 0;
      }
    }

    &__buttons {
      flex-direction: column;
      padding-inline: rem(10);
    }
  }
}
/*  ==================================  */
/*  =======END section when-work======  */
/*  ==================================  */
