@use "../../healpers" as *;
/* Block call-up . Part of header*/
.call-up {
  @include flex-center;

  column-gap: rem(10);

  &__link {
    display: grid;
    grid-template: auto auto / auto auto;
    column-gap: rem(10);
    font-size: rem(20);
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;

    &-icon {
      @include square(rem(32));

      grid-row: span 2;
      align-self: center;
    }
  }

  &__text {
    font-size: rem(14);
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-align: center;
    color: var(--text-color-medium);
  }
}

@include tablet-media {
  .call-up {
    &__link {
      font-size: rem(16);
    }

    &__text {
      font-size: rem(14);
    }
  }
}
