@use "../../healpers" as *;
/* Section appointment-choose */
.appointment-choose {
  &__wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-gray-800);
    width: 100%;
    min-height: rem(138);
    padding-block: rem(10);
    padding-inline: rem(167);
    border-radius: var(--border-radius-small);
  }

  &__title {
    color: var(--text-color-light);
    font-size: fluid(28, 20);
    line-height: 1.35;
    margin-right: rem(70);
  }

  &__image {
    &-wrapper {
      flex-shrink: 0;
      display: inline-flex;
      align-items: end;
      width: rem(86);
      height: rem(118);
      margin-right: rem(22);
    }

    width: rem(86);
    height: rem(108);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__button {
    min-width: rem(140);
  }
}

@include desktop-media {
  .appointment-choose {
    &__wrapper {
      padding-inline: rem(20);
      justify-content: center;
      gap: rem(24);
    }

    &__image {
      &-wrapper {
        margin-right: 0;
      }
    }

    &__title {
      margin-right: 0;
    }
  }
}
@include tablet-media {
  .appointment-choose {
    &__wrapper {
      padding-block: rem(30);
      flex-direction: column;
      max-width: rem(550);
      margin-inline: auto;
      gap: rem(34);
    }

    &__title {
      font-size: rem(20);
      line-height: 1.5;
      text-align: center;
      max-width: rem(250);
      text-transform: uppercase;
    }

    &__image {
      &-wrapper {
        align-items: start;
      }
    }

    &__buttons {
      max-width: rem(300);
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      gap: rem(10);
    }
  }
}
@include mobile-medium-media {
  .appointment-choose {
    &__wrapper {
      padding-inline: rem(16);
    }

    &__buttons {
      max-width: unset;
    }
  }
}
/*  ===================================  */
/*  ======END appointment-choose=======  */
/*  ===================================  */
