/* Error: It's not clear which file to import. Found:
 *   styles\blocks\join-loyalty\_join-loyalty.scss
 *   styles\blocks\join-loyalty\join-loyalty.scss
 *    ,
 * 18 | @use "../../blocks/join-loyalty/join-loyalty";
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\pages\loyalty-page\loyalty.scss 18:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   styles\\blocks\\join-loyalty\\_join-loyalty.scss\a   styles\\blocks\\join-loyalty\\join-loyalty.scss\a    \2577 \a 18 \2502  @use \"../../blocks/join-loyalty/join-loyalty\";\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\pages\\loyalty-page\\loyalty.scss 18:1  root stylesheet";
}
