@use "../healpers" as *;
/* Functional selectors ( utils file ) */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile-medium {
  @include mobile-medium-media {
    display: none !important;
  }
}
.hidden-mobile {
  @include mobile-media {
    display: none !important;
  }
}
.hidden-tablet {
  @include tablet-media {
    display: none !important;
  }
}
.hidden-laptop {
  @include laptop-media {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop-media {
    display: none !important;
  }
}
.visible-mobile-medium {
  @include mobile-medium-media-above {
    display: none !important;
  }
}
.visible-mobile {
  @include mobile-media-above {
    display: none !important;
  }
}
.visible-tablet {
  @include tablet-media-above {
    display: none !important;
  }
}
.visible-laptop {
  @include laptop-media-above {
    display: none !important;
  }
}
.visible-desktop {
  @include desktop-media-above {
    display: none !important;
  }
}
.hide-element {
  display: none !important;
}
// .lock-body {
//   overflow: hidden !important;
// }
// .hide-layer {
//   z-index: -1 !important;
// }
// .blur-layer {
//   filter: blur(rem(12));
// }
// .opacity-on {
//   opacity: 0;
//   transition-duration: 1s;
// }
// .opacity-off {
//   transition-duration: 1s;
//   opacity: 1;
// }
/*  ===================================  */
/*  ===================================  */
