@use "../../healpers" as *;
/* Styles for section certificates ( slider with мasters' certificates ) . source -- home page */
.certificates {
  overflow-x: hidden;

  &__slider {
    --certificateSlideWidth: #{rem(118)};
    --certificateSlideHeight: #{rem(162)};
    --certificateSlideImageWidth: #{rem(115)};
    --certificateSlideImageHeight: var(--certificateSlideHeight);

    min-height: calc(var(--certificateSlideHeight) + #{rem(2)});
  }

  &__link {
    @include flex-center(true);

    position: relative;
    width: var(--certificateSlideWidth);
    height: var(--certificateSlideHeight);

    @include hover {
      filter: opacity(100);

      .certificates__image {
        filter: brightness(80%);
      }
    }

    @include active {
      .certificates__image {
        scale: 0.98;
      }
    }
  }

  &__image {
    transition-duration: var(--transition-duration);
    width: var(--certificateSlideImageWidth);
    height: var(--certificateSlideHeight);
  }
}
/*  ===================================  */
/*  =======END section certificates====  */
/*  ===================================  */
