@use "../../healpers" as *;
@use "callback-form";
/* Styles for section callback. Block with a form for client contact */
.callback {
  &__wrapper {
    display: flex;
    gap: rem(24);
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: rem(723);
    width: 100%;
    padding-block: rem(50);
    padding-inline: rem(20);
  }

  &__title {
    max-width: rem(547);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    margin-block: 0 rem(8);

    &--width-100 {
      max-width: unset;
      width: 100%;
    }

    &--rental-page {
      margin-block: 0 rem(27);
    }
  }

  &__form {
    max-width: rem(547);
    margin-block: 0 rem(8);
  }

  &__policy {
    font-size: rem(16);
    text-align: center;
    width: 100%;
    color: var(--text-color-dark-secondary);

    &-link {
      display: inline;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  &__image {
    &-wrapper {
      border-radius: var(--border-radius-small);
      width: rem(513);
      height: rem(512);
      flex-shrink: 0;

      &--rental-page {
        height: rem(552);
      }
    }

    width: inherit;
    height: inherit;
  }
}

@include laptop-media {
  .callback {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__body {
      max-width: 100%;
    }

    &__form {
      max-width: 100%;
    }
  }
}

@include tablet-media {
  .callback {
    &__wrapper {
      flex-direction: row;
    }

    &__body {
      padding-inline: 0;
    }

    &__title {
      text-align: start;
    }

    &__image {
      &-wrapper {
        @include square(rem(360));
      }
    }
  }
}

@include mobile-media {
  .callback {
    &__wrapper {
      padding-inline: rem(20);
      flex-direction: column;
    }

    &__title {
      text-align: center;
      line-height: 1.5;

      &--rental-page {
        margin-block: 0 rem(10);
      }
    }

    &__body {
      padding-block: rem(50) 0;
    }

    &__policy {
      font-size: rem(15);
    }
  }
}
/*  ===================================  */
/*  ========END section callback=======  */
/*  ===================================  */
