@use "../../healpers" as *;
/* Section page-heading */
.page-heading {
  --breadcrumbsColor: var(--color-gray-500);
  --breadcrumbsGapX: #{fluid(48, 17)};

  padding-block: rem(25) rem(28);
  color: var(--breadcrumbsColor);

  &__breadcrumbs {
    margin-bottom: rem(10);

    &-list {
      display: flex;
      align-items: center;
      column-gap: var(--breadcrumbsGapX);
      row-gap: rem(10);
    }

    &-item {
      position: relative;

      &:not(:last-child) {
        &::after {
          position: absolute;
          content: "−";
          right: calc((var(--breadcrumbsGapX) / 2) * -1 - rem(5));
          top: 10%;
        }
      }

      &:last-child {
        a {
          opacity: 0.7;
          pointer-events: none;
        }
      }
    }

    &-link {
      font-size: rem(16);
      color: currentColor;
      line-height: 1.4;
    }
  }

  &__page-name {
    color: var(--color-dark);
    line-height: 1.1;

    &--small-mobile {
      @include fluid-text(32, 20);

      text-transform: uppercase;
      text-align: center;
      line-height: 1.2;
    }

    &--letter-spacing {
      letter-spacing: var(--letter-spacing);
    }
  }
}
@include tablet-media {
  .page-heading {
    padding-block: rem(10);

    &__breadcrumbs {
      margin-bottom: rem(8);

      &-item {
        &:not(:last-child) {
          &::after {
            top: 5%;
          }
        }
      }

      &-link {
        line-height: 1.5;
      }
    }
  }
}
@include mobile-media {
  .page-heading {
    &__breadcrumbs {
      &-list {
        flex-wrap: wrap;
        row-gap: 0;
      }
    }

    &__page-name {
      &--small-mobile {
        text-align: start;
        line-height: 1.5;
      }
    }
  }
}
