@use "../../healpers" as *;
/* Section explanation-info (tire-studding page)*/
.explanation-info {
  margin-bottom: fluid(130, 100);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(10);
    padding-inline: 0 rem(28);

    &-item {
      height: 100%;
      padding: rem(10);
      border: var(--border-light);
      border-radius: var(--border-radius-small);
    }
  }

  &__image {
    justify-self: center;
    margin-bottom: rem(10);
  }

  &__info {
    @include fluid-text(18, 15);
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
  }
}
@include desktop-media {
  .explanation-info {
    &__list {
      padding-inline: unset;
    }
  }
}
@include mobile-media {
  .explanation-info {
    &__list {
      grid-template-columns: 1fr 1fr;

      &-item {
        &:last-child {
          grid-column: 1/3;
        }
      }
    }
  }
}
@include mobile-medium-media {
  .explanation-info {
    &__list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-inline: unset;
    }
  }
}
/*  =============================  */
/*  =====END explanation-info====  */
/*  =============================  */
