/* Section error */
.error {
  background-color: var(--color-gray-800);
  color: var(--color-gray-50);
  font-weight: 700;
  padding-block: 8.1875rem 9.875rem;
}
.error__wrapper {
  position: relative;
}
.error__body, .error__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.error__body {
  width: 100%;
  row-gap: clamp(1.25rem, 0.1744186047rem + 4.3023255814vw, 3.5625rem);
}
.error__content {
  row-gap: clamp(1.25rem, 0.6686046512rem + 2.3255813953vw, 2.5rem);
}
.error__title {
  font-size: 6.25rem;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.03em;
}
.error__text {
  font-weight: 400;
  line-height: 1.5;
}
.error__button {
  padding: 0.4375rem 3.3125rem 0.625rem;
  min-height: 2.625rem;
  -ms-flex-item-align: start;
      align-self: start;
}
.error__image {
  width: inherit;
  height: inherit;
}
.error__image-wrapper {
  width: 25.1875rem;
  height: 40rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  right: -5.5rem;
  top: -5.625rem;
}

@media (width <= 100.06125rem) {
  .error {
    padding-block: clamp(1.875rem, 0.9738372093rem + 3.6046511628vw, 3.8125rem);
  }
  .error__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.25rem;
  }
  .error__subtitle {
    font-size: clamp(1.5rem, 1.2093023256rem + 1.1627906977vw, 2.125rem);
  }
  .error__image-wrapper {
    padding-block: 3.125rem 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
    right: unset;
    top: unset;
    right: 0;
  }
}
@media (width <= 81.31125rem) {
  .error__title {
    font-size: clamp(2rem, 0.6046511628rem + 5.5813953488vw, 5rem);
  }
}
@media (width <= 63.99875rem) {
  .error__wrapper {
    max-width: 54.25rem;
  }
  .error__image-wrapper {
    padding-block: 3.125rem 0;
    width: 12.5rem;
    height: 19.875rem;
  }
}
@media (width <= 47.99875rem) {
  .error {
    text-align: center;
  }
  .error__wrapper {
    display: grid;
    grid-template-areas: "title title" "image image" "subtitle subtitle" "text text" "button button";
  }
  .error__body {
    display: contents;
  }
  .error__content {
    display: contents;
  }
  .error__title {
    grid-area: title;
  }
  .error__subtitle {
    grid-area: subtitle;
  }
  .error__text {
    grid-area: text;
  }
  .error__button {
    grid-area: button;
    justify-self: center;
    width: unset;
  }
  .error__image-wrapper {
    grid-area: image;
    padding-block: unset;
    justify-self: center;
    width: 12.5rem;
    height: 19.875rem;
  }
}
@media (width <= 35.93625rem) {
  .error__image-wrapper {
    width: 6.25rem;
    height: 9.9375rem;
  }
}
/*  =======================  */
/*  ===END section error===  */
/*  =======================  *//*# sourceMappingURL=error.css.map */