@charset "UTF-8";
/* Search block. ( form + input + button) .part of block locations */
.search {
  --searchBlockHeight: 2.375rem;
  --searchBlockHeightHigh: 3.125rem;
  --searchBgColor: var(--color-light);
  --searchBgColorHover: var(--color-gray-100);
  --searchBorder: var(--border-light);
  --searchIconColor: var(--color-border-medium);
  position: relative;
  display: block;
  height: 100%;
}
.search__input {
  min-height: var(--searchBlockHeight);
  height: 100%;
  width: 100%;
  padding-inline: 0.625rem calc(var(--searchBlockHeight) + 1.25rem);
  padding-block: 0.1875rem;
  border: none;
  outline: var(--searchBorder);
  border-radius: var(--border-radius-small);
  background-color: var(--searchBgColor);
  transition-duration: var(--transition-duration) !important;
}
.search__input--high {
  min-height: var(--searchBlockHeightHigh);
}
.search__input:focus {
  background-color: var(--searchBgColor) !important;
  outline: var(--border);
}
@media (any-hover: hover) {
  .search__input:hover {
    background-color: var(--searchBgColorHover);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .search__input:active {
    background-color: var(--searchBgColorHover);
  }
}
.search__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: 0;
  right: 0;
  border-radius: var(--border-radius-small);
  min-height: var(--searchBlockHeight);
  width: var(--searchBlockHeight);
}
.search__button--high {
  min-height: var(--searchBlockHeightHigh);
}
@media (any-hover: hover) {
  .search__button:hover {
    filter: opacity(0.6);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .search__button:active {
    filter: opacity(0.6);
  }
}
.search__button:active {
  filter: opacity(0.3);
}
.search__icon {
  fill: transparent;
  stroke: var(--searchIconColor);
}

@media (width <= 47.99875rem) {
  .search {
    --searchBlockHeightHigh: 2.625rem;
  }
}
/* Filter services in the block locations. ( form and input type ratios )*/
.locations-filter__border {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  outline: none;
}
.locations-filter__element {
  display: flex;
  align-items: center;
  column-gap: 0.6875rem;
  outline: var(--border-light);
  border-radius: var(--border-radius-small);
  padding: 0.875rem 0.6875rem 0.75rem 0.6875rem;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.1;
  text-transform: uppercase;
  transition-duration: var(--transition-duration) !important;
  will-change: transform;
}
@media (any-hover: hover) {
  .locations-filter__element:hover {
    filter: opacity(70%);
    outline: var(--border);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .locations-filter__element:active {
    filter: opacity(70%);
    outline: var(--border);
  }
}
.locations-filter__element:active {
  scale: 0.98;
}
.locations-filter__input {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.locations-filter__input::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  outline: var(--border);
  border-radius: 0.125rem;
  background-color: var(--color-light);
  cursor: pointer;
}
.locations-filter__input:checked::before {
  content: "✔";
}

/* Styles for location-card . Source - block locations */
.location-card {
  --locationCardBg: var(--color-light);
  --locationCardBgActive: var(--color-accent-200);
  --locationCardHeight: 12.75rem;
  display: flex;
  min-height: var(--locationCardHeight);
  transition-duration: var(--transition-duration);
  outline: var(--border-light);
  border-radius: var(--border-radius-small);
  background-color: var(--locationCardBg);
}
.location-card.is-active {
  background-color: var(--locationCardBgActive);
}
@media (any-hover: hover) {
  .location-card:hover {
    background-color: var(--locationCardBgActive);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .location-card:active {
    background-color: var(--locationCardBgActive);
  }
}
.location-card__image {
  width: inherit;
  min-height: inherit;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}
.location-card__image-wrapper {
  width: 8.75rem;
  min-height: 100%;
  flex-shrink: 0;
}
.location-card__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.625rem 1.25rem 1.25rem;
  color: var(--text-color-dark-secondary);
}
.location-card__address-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--text-color-dark);
  cursor: pointer;
  letter-spacing: var(--letter-spacing);
  line-height: 1.3;
  transition-duration: var(--transition-duration) !important;
}
@media (any-hover: hover) {
  .location-card__address-button:hover {
    filter: opacity(0.6);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .location-card__address-button:active {
    filter: opacity(0.6);
  }
}
.location-card__address-button:active {
  filter: opacity(0.3);
  will-change: transform;
}
.location-card__text-block {
  font-size: 1rem;
  line-height: 1.4;
  word-spacing: 0.1em;
  margin-bottom: 0.625rem;
}
.location-card__text-block p:not(:last-child) {
  margin-bottom: 0;
}
.location-card__register-time--today {
  color: var(--color-green-light);
}
.location-card__buttons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

@media (width <= 47.99875rem) {
  .location-card {
    --locationCardHeight: 9.875rem;
    row-gap: 0.625rem;
  }
  .location-card__image-wrapper {
    width: 6.25rem;
  }
  .location-card__body {
    padding: 0.125rem 0.625rem 0rem;
  }
  .location-card__address {
    letter-spacing: -0.02em;
  }
  .location-card__text-block {
    font-size: 0.9375rem;
    word-spacing: 0.2em;
    margin-bottom: 0.25rem;
  }
}
/* Styles for the map. part of block locations .Current, will need to be added...*/
.map-block {
  position: relative;
}
.map-block__iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-block__marker {
  position: absolute;
  top: 50%;
  left: 30%;
  width: clamp(1.125rem, 0.3691860465rem + 3.023255814vw, 2.75rem);
  height: clamp(1.5rem, 0.511627907rem + 3.9534883721vw, 3.625rem);
}
.map-block__marker--active {
  left: 40%;
}

/* Section locations. Component for the user to select a suitable service on the map. sourse home page */
.locations {
  --locationScrollThumbColor: var(--color-gray-400);
  --locationScrollThumbColorHover: var(--color-gray-500);
  --locationScrollBgColor: var(--color-gray-90);
  --locationListHeight: 45rem;
}
.locations__filter {
  margin-block: 0 clamp(0.625rem, 0.0436046512rem + 2.3255813953vw, 1.875rem);
}
.locations__body {
  height: var(--locationListHeight);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-block: 0 clamp(0.625rem, 0.0436046512rem + 2.3255813953vw, 1.875rem);
}
.locations__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  max-width: 31.6875rem;
  width: 100%;
  height: inherit;
  padding-inline: 0.0625rem 0.25rem;
  padding-block: 0.125rem 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.locations__list::-webkit-scrollbar {
  width: 0.275rem;
  height: 0.275rem;
}
.locations__list::-webkit-scrollbar-track {
  background: var(--locationScrollBgColor);
}
.locations__list::-webkit-scrollbar-thumb {
  background: var(--locationScrollThumbColor);
}
.locations__list::-webkit-scrollbar-thumb:hover {
  background: var(--locationScrollThumbColorHover);
}
.locations__list::-webkit-scrollbar-button {
  display: none;
}
.locations__list-item--search {
  position: sticky;
  top: 0;
  z-index: 3;
  animation-name: scrolling-sticky;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 1.25rem 2.5rem;
}
.locations__map-block {
  max-width: 46.0625rem;
  width: 100%;
}

@media (width <= 81.31125rem) {
  .locations {
    --locationListHeight: 55.875rem;
  }
  .locations__body {
    flex-direction: column-reverse;
    height: auto;
    gap: 1.0625rem;
  }
  .locations__list {
    height: var(--locationListHeight);
    max-width: unset;
    row-gap: 0.125rem;
  }
  .locations__map-block {
    height: 19.5rem;
    max-width: unset;
    border-radius: var(--border-radius-small);
    overflow: hidden;
  }
}
@media (width <= 63.99875rem) {
  .locations__filter {
    margin-block: 0 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .locations {
    --locationListHeight: 41.875rem;
  }
}
@media (width <= 30.06125rem) {
  .locations__list {
    padding-inline: 0.0625rem 0.125rem;
  }
}
/*  ===================================  */
/*  =======END section locations=======  */
/*  ===================================  */
/* Styles for block online-registration.( home page. block containing cervices map )*/
.online-registration {
  --section-margin-y: 5rem;
}
.online-registration__subtitle {
  max-width: 48.625rem;
}
.online-registration__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.875rem;
}
.online-registration__button {
  min-width: 12.875rem;
}

/*  ===================================  */
/*  ==END block online-registration==  */
/*  ===================================  */

/*# sourceMappingURL=online-registration.css.map */
