@use "../../healpers" as *;
/* common-block auth-portal. */
.auth-portal {
  &__wrapper {
    @include flex-center;

    gap: rem(46.5);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
  }

  &__text {
    font-weight: 700;
    font-size: rem(17);

    line-height: 1.2;
    text-transform: uppercase;
    color: var(--text-color-light);
  }

  &__image {
    &-wrapper {
      @include square(rem(60));
    }

    width: inherit;
    height: inherit;
  }

  &__button {
    background-color: var(--color-light);
    color: var(--text-color-dark);
    font-weight: 700;
    font-size: rem(14);
    line-height: 1.7;
    letter-spacing: var(--letter-spacing);
    min-height: var(--auth-portal-button-height);
    padding-block: rem(6);
  }
}

@include tablet-media {
  .auth-portal {
    &__wrapper {
      gap: rem(12);
    }
  }
}

@include mobile-media {
  .auth-portal {
    &__wrapper {
      flex-direction: column;
      padding-inline: rem(11.5);
      padding-block: rem(20);
    }

    &__text {
      text-align: center;
      line-height: 1.2;
    }

    &__image {
      &-wrapper {
        rotate: 90deg;
      }
    }
  }
}
/*  ==============================  */
/*  =====END block auth-portal====  */
/*  ==============================  */
