@use "../../healpers" as *;
@use "../сommon-blocks/services-menu";
@use "../promotions/services-promotion";
/* Styles for section overview-services on the home page */
.overview-services {
  display: flex;
  gap: rem(24);

  &__services-menu {
    .services-menu__list {
      max-width: rem(940);
      width: 100%;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "tire-fitting car-wash сar-rapair"
        "tire-fitting car-wash сar-rapair"
        "tire-fitting car-wash сar-rapair";

      gap: rem(24);

      .services-menu__item {
        &--grid-cell-1 {
          grid-area: tire-fitting;
        }
        &--grid-cell-2 {
          grid-area: car-wash;
        }
        &--grid-cell-3 {
          grid-area: сar-rapair;
        }
        &--grid-cell-4 {
          display: inline-flex;
          align-items: center;
          padding-inline: rem(24);
          grid-area: refill-conditioning;
        }
        &--grid-cell-5 {
          display: inline-flex;
          align-items: center;
          padding-inline: rem(24);
          grid-area: wheel-alignment;
        }
      }
    }
  }
}

@include desktop-media {
  .overview-services {
    flex-direction: column;

    &__services-menu {
      .services-menu__list {
        max-width: unset;
      }
    }
  }
}

@include laptop-media {
  .overview-services {
    &__services-menu {
      .services-menu__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "tire-fitting car-wash"
          "сar-rapair refill-conditioning"
          "сar-rapair wheel-alignment";
      }
    }
  }
}

@include tablet-media {
  .overview-services {
    gap: rem(40);

    &__services-menu {
      .services-menu__list {
        gap: rem(20);
      }
    }
  }
}
/*  ===================================  */
/*  ===END section overview-services===  */
/*  ===================================  */
