@use "../../healpers" as *;
@use "../сommon-blocks/search";
@use "locations-card";
@use "map-block";
/* Section locations-short. Small version block locations. */
.locations {
  --locationScrollThumbColor: var(--color-gray-400);
  --locationScrollThumbColorHover: var(--color-gray-500);
  --locationScrollBgColor: var(--color-gray-90);
  --locationListHeight: #{rem(720)};

  &__body {
    height: var(--locationListHeight);
    display: flex;
    justify-content: space-between;
    gap: rem(8);
    margin-block: 0 fluid(30, 10);
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(4);

    max-width: rem(507);
    width: 100%;
    height: inherit;

    padding-inline: rem(1) rem(4);
    padding-block: rem(1) 0;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: rem(4.4);
      height: rem(4.4);
    }

    &::-webkit-scrollbar-track {
      background: var(--locationScrollBgColor);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--locationScrollThumbColor);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--locationScrollThumbColorHover);
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &-item {
      &--search {
        position: sticky;
        top: 0;

        animation-name: scrolling-sticky;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: rem(20) rem(40);
      }
    }
  }

  &__map-block {
    max-width: rem(737);
    width: 100%;
  }
}

@include laptop-media {
  .locations {
    --locationListHeight: #{rem(894)};

    &__body {
      flex-direction: column-reverse;
      height: auto;
      gap: rem(20);
    }

    &__list {
      height: var(--locationListHeight);
      max-width: unset;
      row-gap: rem(10);
    }

    &__map-block {
      height: rem(312);
      max-width: unset;
      border-radius: var(--border-radius-small);
      overflow: hidden;
    }
  }
}

@include mobile-media {
  .locations {
    --locationListHeight: #{rem(670)};
  }
}

@include mobile-s-media {
  .locations {
    &__list {
      padding-inline: rem(1) rem(2);
    }
  }
}
/*  ===================================  */
/*  ====END section-short locations====  */
/*  ===================================  */
