@use "../../healpers" as *;
/* Section svc-location-info. */
.svc-location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);

  &__title {
    font-size: rem(24);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__item {
    position: relative;
    left: rem(-30);
    max-width: rem(315);
    display: flex;
    align-items: center;
    gap: rem(30);

    font-weight: 600;
    font-size: rem(18);
    line-height: 1.2;

    address {
      font-style: normal;
    }
  }

  &__icon {
    @include square(rem(60));

    flex-shrink: 0;
  }

  &__buttons {
    @include flex-center;

    gap: rem(20);
  }

  &__button {
    min-width: rem(140);
    font-size: rem(16);
  }
}
@include mobile-media {
  .svc-location-info {
    gap: rem(13);

    &__item {
      position: relative;
      left: rem(-30);
      max-width: unset;
    }
  }
}
/*  =============================  */
/*  =====END svc-location-info===  */
/*  =============================  */
