@use "../../healpers" as *;
@use "possobility-card";

/* Styles for section possobilities. */

.possobilities {
  @include flex-center;

  flex-direction: column;
  overflow: hidden;

  &--small-margin-mobile {
    margin-bottom: fluid(77, 0);
  }

  &__title {
    margin-bottom: fluid(77, 0);
  }

  &__slider {
    padding: rem(4) rem(10);

    &--small-max-width {
      max-width: rem(965);
    }
  }
}
@include desktop-media-above {
  .possobilities {
    &__list {
      &:has(li:nth-child(7n)) {
        justify-content: center;
      }
    }
  }
}

@include tablet-media {
  .possobilities {
    &__slider {
      padding-block: rem(20);
    }

    &__list {
      margin-left: calc(var(--container-padding-x) * -1);
    }
  }
}
/*  ===================================  */
/*  =====END section possobilities ====  */
/*  ===================================  */
